<footer class="footer">
  <div class="container-fluid">
    <div class="row g-3">
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <div class="col-md-6 text-center mb-5">
          <ul class="footer-links justify-content-end lead" >
            <li><a href="/Jefcon_Associates" class="text-decoration-underline text-success"><em>About us</em></a></li>
            <li><a href="/services_footer" class="text-decoration-underline text-success"><em>Services</em></a></li>
            <li><a href="/project_footer" class="text-decoration-underline text-success"><em>Projects</em></a></li>
            <li><a href="/blogs" class="text-decoration-underline text-success"><em>Blogs</em></a></li>
            <li><a href="/contact" class="text-decoration-underline text-success"><em>Contact</em></a></li>
            <li><a href="/faq_footer" class="text-decoration-underline text-success"><em>Faq</em></a></li>
            <li><a href="/privacyPolicy" class="text-decoration-underline text-success"><em>Privacy</em></a></li>
          </ul>             
        </div>
      </div>
      <div class="container">
        <div class="row g-3">
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="background-color: #6d835c";>
              <img src="images/jefcon-address.jpg" alt="team1" class="card-img-top">
              <div class="card-body text-light lead">
                <span class="card-text placeholder-glow">
                  <span class="placeholder col-6"></span>         
                  <span class="placeholder col-7"><a class="btn btn-success" href="/contact" style="background-color: #6D835C;"><em>Contact us</em></a></span>
                  <span class="placeholder col-6"></span>   
                </span> 
                <hr>
                <p class="lead"><i>▪</i>&ensp;<em><u>+234 805 582 720</u></em> <br>
                  <i>▪</i>&ensp;<em><u>+234 805 5015 045</u></em>
                </p> 
                <p></p>
                <p class="text-decoration-underline mb-3"><a class="text-light" href="/jefcon_associates"><em>https://jefconassociates.com</em></a></p>      
                <button class="btn btn-light"><em>info@jefcon&associates.com</em></button>         
                <p></p>     
                <hr>
                <p class="lead"><em> No. 11 Engr. John Chiegbuniwe Drive, <br>
                  Off Mariam Babangida Way, <br>
                  Phase V, Core Area, Asaba, <br>
                  Delta State, Nigeria. </em>
                </p>
                <hr>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="background-color: #6d835c";>
              <div class="card-body pl-4 text-light lead">
                <h4 class="card-title text-light mt-3 text-decoration-underline"><em>Meta</em></h4>
                <div class="<ul class="list-unstyled>
                  <li><a class="text-light" href="https://jefconassociates.com/wp-login.php"><em>Log in</em></a></li>
                  <li><a class="text-light" href="https://jefconassociates.com/feed/"><em>Entries feed</em></a></li>
                  <li><a class="text-light" href="https://jefconassociates.com/comments/feed/"><em>Comments feed</em></a></li>
                  <li><a class="text-light" href="https://expressjs.com/"><em>Express.org</em></a></li>
                  <li><a class="text-light" href="https://www.mongodb.com/"><em>Mongodb.com</em></a></li>
                  </ul>          
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-4">
            <div class="card" style="background-color: #6D835C";>
              <div class="card-body text-light lead">
                <div class="<ul class="list-unstyled> 
                  <li><a class="text-light" href="/case_studies"><em>Case Studies</em></a></li>
                  <li><a class="text-light" href="/construction_law"><em>Construction Law</em></a></li>
                  <li><a class="text-light" href="/construction_technology"><em>Construction Technology</em></a></li>
                  <li><a class="text-light" href="/consultancy_advisory"><em>Consultancy And Advisory Services</em></a></li>  
                  <li><a class="text-light" href="/engDesign_simulation"><em>Engineering Design And Simulation</em></a></li>
                  <li><a class="text-light" href="/category_eng_surveys"><em>Engineering Surveys</em></a></li>
                  <li><a class="text-light" href="/cat_environmental"><em>Environmental</em></a></li>
                  <li><a class="text-light" href="/cat_feasibility_Eco"><em>Feasibility And Economic Studies</em></a></li>  
                  <li><a class="text-light" href="/industryNews_trend"><em>Industry News And Trends</em></a></li>
                  <li><a class="text-light" href="/innovation_research"><em>Innovation And Research</em></a></li>
                  <li><a class="text-light" href="/mech_elec_Plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a></li>
                  <li><a class="text-light" href="/pro_superv_cat"><em>Project Supervision And Management</em></a></li>  
                  <li><a class="text-light" href="/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a></li>
                  <li><a class="text-light" href="/safety_regulations"><em>Safety And Regulations</em></a></li>
                  <li><a class="text-light" href="/training_education"><em>Training And Education</em></a></li>
                  <li><a class="text-light" href="/uncategorized"><em>Uncategorized</em></a></li>  
                  </ul>          
                </div>             
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
    <div class="copyright text-center lead text-light text-decoration-underline"><b><em>
      © 2025 Jefcon & Associates Ltd...   All rights reserved.</em></b>
    </div>
  </footer>
  <div id="root"></div>
  <script type="module" src="/app.js"></script>
  <script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"
  ></script>
   <!-- Powered by Francis Ifeanyi Anwuzia - Website Creator | email@ - francisanwuzia3@gmail.com  +31648683382  -->
  </body>
</html> 
