<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap"
      rel="stylesheet"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./style.css" />
    <style>
      body {
        margin: 0;
        font-family: "Prompt", sans-serif;
        color: lightgreen;
        background: #6D835C;
        overflow-x: hidden;
      }
      section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 20vh;
      }

      .pale {
        background:  #6d835c;
      }

      .olivedrab {
        background: olivedrab;
      }

      .green {
        background: rgb(157, 219, 157);
      }

      .dark {
        background: #121222;
      }

      .grey{
        background: grey;
      }
      
      /* Default height for small devices */
      #intro-example {
        height: 500px;
        width: auto;
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
          width: 100%;
        }
      }

      .back-video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -4;
      }

      @media (min-aspect-ratio: 16/9) {
        .back-video {
          width: 100%;
          height: auto;
        }
      }

      @media (min-aspect-ratio: 16/9) {
        .back-video {
          width: auto;
          height: 100%;
        }
      }
    </style>
    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
        rel="stylesheet"
        integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
        crossorigin="anonymous"
      />
    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-md {
              font-size: 3.5rem;
            }
        }
    </style>  
  </head>
  <body
    section
    class="featurette bg-primary"
    style="
      background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
        no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    "
  />
  <%- include('partials/navbar') %>
  <section
    class="featurette bg-primary"
    style="
      background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
        no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      background-attachment: fixed;
    "
  >
  <h5 class="display-6 lead text-light text-center text-decoration-underline pl-2 pt-2 pb-4">
    <strong><em>Monthly Archives: &ensp; June 2024</em></strong>
  </h5>
  <div class="container">
    <div class="row g-3">
      <div class="col-sm-6 mb-sm-0">
        <div class="card" style="background-color: #6D835C;">
          <img src="images/blogImg.jpg" alt="blogImg" class="card-img-top">
          <div class="card-body">
            <h4 class="text-decoration-underline text-light text-center pt-3">
              <a class="text-light" href="/ensuringStormwater">
                <strong
                  ><em
                  >Ensuring Stormwater Drainage System <br> Efficiency: Quality
                  Control Measures <br> In Nigerian Construction Projects</em
                ></strong
                >
              </a>              
            </h4>
            <p class="text-center text-light text-decoration-underline lead pr-3 pl-3"><em
              >By, Engr. John Cee Onwualu, JP (FNSE, FNICE, <br> FNIWE, P.E.,
              R.ENG, MASCE, COREN)</em
            ></p>
            <div class="content">
              <a
                href="/archives_2024_june"
                class="lead text-light"
                style="border-color: #fff"
              >
                <em> Posted on 23 June 2024 - 10:20 pm </em></a
              >
              <a
                href="/deprof_archive"
                class="lead text-light"
                style="border-color: #fff"
              >
                <em>By, DEPROF</em></a
              >
              <p class="lead text-light text-center pt-3">
                <strong>
                  <em
                    > In Nigeria, the increasing frequency of flooding and urban
                    waterlogging underscores the critical need for effective
                    stormwater drainage systems. These systems are essential
                    for managing rainwater runoff, protecting
                    infrastructure, and safeguarding public health. This
                    article delves into the importance of quality control
                    (QC) [...]</em
                  >
                </strong>
              </p>
            </div>
          </div>
        </div>
        <div class="container mt-3">
          <div class="card" style="background-color: #6d835c">
            <h4 class="card-title text-light text-decoration-underline text-center mt-2"><em>Categories</em></h4>
            <div class="card-body text-light lead">
              <div class="<ul class="list-unstyled> 
                <a class="text-light pl-3" href="/case_studies" style="text-decoration: none;"><em>Case Studies</em></a><br>                         
                <a class="text-light pl-3" href="/construction_law" style="text-decoration: none;"><em>Construction Law</em></a> <br>                        
                <a class="text-light pl-3" href="/construction_technology" style="text-decoration: none;"><em>Construction Technology</em></a><br>                         
                <a class="text-light pl-3" href="/consultancy_advisory" style="text-decoration: none;"><em>Consultancy And Advisory Services</em></a><br>                        
                <a class="text-light pl-3" href="/engDesign_simulation" style="text-decoration: none;"><em>Engineering Design And Simulation</em></a><br>                       
                <a class="text-light pl-3" href="/category_eng_surveys" style="text-decoration: none;"><em>Engineering Surveys</em></a><br>                       
                <a class="text-light pl-3" href="/cat_environmental" style="text-decoration: none;"><em>Environmental</em></a><br>                       
                <a class="text-light pl-3" href="/cat_feasibility_Eco" style="text-decoration: none;"><em>Feasibility And Economic Studies</em></a><br>
                <a class="text-light pl-3" href="/industryNews_trend" style="text-decoration: none;"><em>Industry News And Trends</em></a><br>
                <a class="text-light pl-3" href="/innovation_research" style="text-decoration: none;"><em>Innovation And Research</em></a><br>
                <a class="text-light pl-3" href="/mech_elec_Plumbing" style="text-decoration: none;"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                <a class="text-light pl-3" href="/pro_superv_cat" style="text-decoration: none;"><em>Project Supervision And Management</em></a><br>
                <a class="text-light pl-3" href="/proj_valuation_cost" style="text-decoration: none;"><em>Project Valuation And Cost Control</em></a><br>
                <a class="text-light pl-3" href="/safety_regulations" style="text-decoration: none;"><em>Safety And Regulations</em></a><br>
                <a class="text-light pl-3" href="/training_education" style="text-decoration: none;"><em>Training And Education</em></a><br>
                <a class="text-light pl-3" href="/uncategorized" style="text-decoration: none;"><em>Uncategorized</em></a><br>
                <span class="pl-3">
                  <a class="btn btn-success text-success mt-2 pr-3" style="background-color: #fff;;"  href="/blogs"><em>More ⇥</em></a>                      
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="container mt-3">
          <div class="card" style="background-color: #6d835c">
            <div class="card-body">
              <h4 class="display-8 text-light mt-3 text-decoration-underline text-center">
                <strong><em>Popular Tags</em></strong>
              </h4>
              <div class="row">
                <div class="col-sm-6 mb-sm-0 text-start">
                  <ul style="display: inline-block;">
                    <a class="lead text-light" href="/tag_drainageChannels"><em>#drainagechannel(2)</em></a><br>
                    <a class="lead text-light" href="/tag_floodwatercontrol"><em>#flood-water-control(3)</em></a><br>
                    <a class="lead text-light" href="/tag_stormwater"><em>#stormwater(3)</em></a><br>
                    <a class="lead text-light" href="/tag_stormwatermanagement"><em>#storm-water-management(5)</em></a><br>
                    <a class="lead text-light" href="/tag_civilengineering"><em>#civilengineering(3)</em></a><br>
                    <a class="lead text-light" href="/tag_complexengineerprob"><em>#complex-engineering-problems(2)</em></a><br>
                    <a class="lead text-light" href="/tag_construction"><em>#construction(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainage"><em>#drainage(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagebasin"><em>#drainagebasin(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagebresilien"><em>#drainagebresilien(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagecell"><em>#drainagecell(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagechannel"><em>#drainagechannel(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagecontractor"><em>#drainagecontractor(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagecover"><em>#drainagecover(3)</em></a>  <br> 
                    <a class="lead text-light" href="/tag_drainagedesign"><em>#drainagedesign(6)</em></a> <br>  
                    <a class="lead text-light" href="/tag_drainageditch"><em>#drainageditch(3)</em></a> <br> 
                    <a class="lead text-light" href="/tag_drainageengineer"><em>#drainageengineer(6)</em></a> <br>  
                    <a class="lead text-light" href="/tag_drainagehole"><em>#drainageholes(3)</em></a> <br>
                    <a class="lead text-light" href="/tag_drainageissues"><em>#drainageissues(3)</em></a> <br>
                    <a class="lead text-light" href="/tag_drainagelife"><em>#drainagelife(3)</em></a> <br>
                    <a class="lead text-light" href="/tag_drainageline"><em>#drainageline(3)</em></a> <br>
                    <a class="lead text-light" href="/tag_drainagepathway"><em>#drainagepathways(3</em>)</a> <br>  
                    <a class="lead text-light" href="/tag_drainagepipe"><em>#drainagepipe(3)</em></a>   
                  </ul>
                </div>
                <div class="col-sm-6 mb-sm-0 text-start">
                  <ul style="display: inline-block;">
                    <a class="lead text-light" href="/tag_drainagepipes"><em>#drainagepipes(3)</em></a> <br>  
                    <a class="lead text-light" href="/tag_drainageproblems"><em>#drainageproblems(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainageproducts"><em>#drainageproducts(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainageproject"><em>#drainageproject(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagesolution"><em>#drainagesolution(6)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagesolutions"><em>#drainagesolutions(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagespecialists"><em>#drainagespecialists(6)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagesystem"><em>#drainagesystem(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagesystems"><em>#drainagesystems(4)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagetile"><em>#drainagetile(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagevisage"><em>drainagevisage(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainagework"><em>#drainagework(3)</em></a><br>
                    <a class="lead text-light" href="/tag_drainageworks"><em>#drainageworks(3)</em></a><br> 
                    <a class="lead text-light" href="/tag_engineeringfundamentals"><em>#engineering-fundamentals(2)</em></a> <br> 
                    <a class="lead text-light" href="/tag_engineeringpractices"><em>#engineeringpractices(3)</em></a> <br> 
                    <a class="lead text-light" href="/tag_Nigeria"><em>#Nigeria(3)</em></a> <br> 
                    <a class="lead text-light" href="/tag_qualityEngProducts"><em>#quality-of-engineering-products(2)</em></a> <br> 
                    <a class="lead text-light" href="/tag_stormwaterdrainage"><em>#storm-water-drainage(3)</em></a> <br> 
                    <a class="lead text-light" href="/tag_storm_water_managemt"><em>stormwater-management(5)</em></a> <br> 
                    <a class="lead text-light" href="/tag_sustainStormwatmanage"><em>#sustainable-storm-water-management(3)</em></a> <br> 
                    <a class="lead text-light" href="/tag_youngengineer"><em>#youngengineer(2)</em></a> 
                  </ul>
                </div>
              </div>  
            </div>
          </div>
        </div>
      </div> 
      <div class="col-sm-6">
        <div class="card" style="background-color: #6d835c">
          <h4
            class="display-6 lead text-light mt-3 pt-3 text-decoration-underline text-center"
          >
            <strong><em>About us</em></strong>
          </h4>
          <div class="card-body text-center">
            <p class="lead text-light"><b>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</p>
            <div class="row">
              <div class="col-sm-6 mb-sm-0">
                <div class="card" style="background-color: #6d835c">
                  <h4 class="text-light text-center text-decoration-underline pt-3"><em>Recent Posts</em></h4>
                  <div class="card-body text-start text-light lead">
                    <div class="<ul class="list-unstyled> 
                      <li><a class="text-light" href="/archives_2025_june" style="text-decoration: none;"><em>June 2025</em></a><br><a href="/preventing_stormwater" class="text-light"><em>Preventing Stormwater Pollution: Implementing Effective QC For Drainage Systems In Nigeria <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                      <li class="pt-2"><a class="text-light" href="/archives_2025_april" style="text-decoration: none;"><em>April 2025</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                      <li class="pt-2"><a class="text-light" href="/archives_2024_july" style="text-decoration: none;"><em>July 2024</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                      <li class="pt-2"><a class="text-light" href="/archives_2024_june" style="text-decoration: none;"><em>June 2024</em></a><br><a href="/ensuringStormwater" class="text-light"><em>Ensuring Stormwater Drainage System Efficiency: Quality Control Measures In Nigerian Construction Projects <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                      <li class="pt-2"><a class="text-light" href="/archives_2024_may" style="text-decoration: none;"><em>May 2024</em></a><br><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges Of Stormwater Management In Urban Areas Of Nigeria: A Critical Analysis</em></a> </li>                      
                      <li class="pt-2"><a class="text-light" href="/archives_2024_april" style="text-decoration: none;"><em>April 2024</em></a><br><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a> </li>                                          
                      </ul>
                    </div>         
                  </div>
                </div>
              </div>
            </div>
          </div>                 
          <div class="card" style="background-color: #6D835C";> 
            <h4
              class="display-8 pt-3 text-light text-decoration-underline text-center"
            >
              <strong><em>Jefcon Blog Post</em></strong>
            </h4>       
            <div class="row">
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul style="display: inline-block;">
                  <a class="lead text-light" href="/case_studies"><em>Case Studies</em></a><br>
                  <a class="lead text-light" href="/construction_law"><em>Construction Law</em></a><br>
                  <a class="lead text-light" href="/construction_technology"><em>Construction Technology</em></a><br>
                  <a class="lead text-light" href="/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>
                  <a class="lead text-light" href="/engDesign_simulation"><em>Engineering Design And Simulation</em></a><br>
                  <a class="lead text-light" href="/category_eng_surveys"><em>Engineering Surveys</em></a><br>
                  <a class="lead text-light" href="/cat_environmental"><em>Environmental</em></a><br>
                  <a class="lead text-light" href="/cat_feasibility_Eco"><em>Feasibility And Economic Studies</em></a><br>
                  <a class="lead text-light" href="/industryNews_trend"><em>Industry News And Trends</em></a><br>
                  <a class="lead text-light" href="/innovation_research"><em>Innovation And Research</em></a><br>
                  <a class="lead text-light" href="/mech_elec_Plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                  <a class="lead text-light" href="/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                  <a class="lead text-light" href="/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                  <a class="lead text-light" href="/safety_regulations"><em>Safety And Regulations</em></a><br>
                  <a class="lead text-light" href="/training_education"><em>Training And Education</em></a><br>
                  <a class="lead text-light" href="/uncategorized"><em>Uncategorized</em></a> 
                </ul>
              </div>
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul style="display: inline-block;">
                  <a class="lead text-light" href="/archives_2025_june"><em>June 2025</em></a><br>
                  <a class="lead text-light" href="/archives_2025_april"><em>April 2025</em></a><br>
                  <a class="lead text-light" href="/archives_2024_july"><em>July 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_june"><em>June 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_may"><em>May 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_april"><em>April 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_march"><em>March 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_feb"><em>February 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_jan"><em>January 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2023_dec"><em>December 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_nov"><em>November 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_oct"><em>October 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_march"><em>March 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_feb"><em>February 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives_2023_jan"><em>January 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_dec"><em>December 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_nov"><em>November 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_oct"><em>October 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_sept"><em>September 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_august"><em>August 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_july"><em>July 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_may"><em>May 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_april"><em>April 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_march"><em>March 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_feb"><em>February 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_jan"><em>January 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_dec"><em>December 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_nov"><em>November 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_august"><em>August 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_june"><em>June 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_may"><em>May 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_april"><em>April 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_jan"><em>January 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_nov"><em>November 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_oct"><em>October 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_sept"><em>September 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_august"><em>August 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_july"><em>July 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_may"><em>May 2020</em></a> 
                </ul>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>         
</section>
<%- include('partials/footer') %>
