<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <%- include('partials/navbar') %>
  <div id="previous-next-parent">
    <h3 class="lead pl-4 pb-4">
      <a href="/blogs_page4"> <i> ↞ </i><em> Older Post</em></a>
    </h3>
    <h3 class="lead pl-4 pr-4 pb-4">
      <a href="/blogs_page2"><em>Newer Post</em><i> ↠ </i></a>
    </h3>
  </div>
  <div id="content" class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/oilhubImg.png" alt="oilhubImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="first" checked />
                  <label for="first" class="lead text-light"
                    ><a href="/oilHubs_delta" class="lead text-light">
                      <strong><em>Oil Hubs in Delta State, Nigeria</em></strong>
                    </a>
                    <p class="lead text-decoration-underline text-light pr-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2021_june"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 19 June 2021 - 11:01 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        This is an excerpt from a paper presented By, Engr. John
                        Cee Onwualu, JP to the Nigerian Society of
                        Engineers.</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/TributoryImg.png" alt="TributoryImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="second" />
                  <label for="second" class="lead text-light">
                    <a href="/tributaries_RivrNiger" class="lead text-light">
                      <strong
                        ><em
                          >Tributaries To The River Niger Within <br />
                          Asaba, Delta State, Nigeria</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-decoration-underline text-light pr-2">
                      <em
                        >By, Engr., John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2021_may"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 26 May 2021 - 11:01 am
                        <a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em>
                        An excerpt from Paper presentation at the <br />
                        Nigerian Society of Engineers <br />
                        By, Engr. John Cee Onwualu, JP</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/GlobalWarmImg.jpg" alt="GlobalWarmImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="third" />
                  <label for="third" class="lead text-light"
                    ><a
                      class="text-light"
                      href="/global_warming"
                      class="lead text-light"
                    >
                      <strong
                        ><em>Flooding: A Global Warming Aftermath</em></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2021_april"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 April 2021 - 3:23 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        Excerpt from Study And Design Of Stormwater Management
                        And Control Measures For Asaba, Warri, Effurun And
                        Environs In Delta State, Nigeria By, Engr. John Cee
                        Onwualu, JP</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/RecImg.jpg" alt="RecImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fourth" />
                  <label for="fourth" class="lead text-light"
                    ><a href="/rec_actions_youngEng2" class="lead text-light">
                      <strong>
                        <em
                          >Recommended Actions For A Young Engineer-2</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2021_april"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 7 April 2021 - 1:07 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >An excerpt from The Challenges of a Young Engineer By,
                        Engr. John Cee Onwualu, JP</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/sewerDrainage.JPG" alt="sewerDrainage" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fifth" />
                  <label for="fifth" class="lead text-light"
                    ><a href="/rec_actions_youngEngr1" class="lead text-light">
                      <strong
                        ><em
                          >Recommended Actions For A Young Engineer-1</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2021_jan"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 15 January 2021 - 1:06 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >A young engineer must have a strong desire and
                        willingness to learn new technical skills and apply the
                        scientific and mathematical principles acquired during
                        his engineering education. This article explores
                        recommended actions for the growth of a young engineer
                        in his engineering profession.</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/teamBiMG.jpeg" alt="teamBiMG" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="sixth" />
                  <label for="sixth" class="lead text-light"
                    ><a href="/workin_withStan_engCode" class="lead text-light">
                      <strong
                        ><em
                          >Working With Standard Engineering Codes</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em>
                        By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2020_nov"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 22 November 2020 - 2:54 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        ><em
                          >An excerpt from The Challenges Of A Young Engineer
                          <br />
                          By, Engr. John-Cee Onwualu, JP</em
                        ></em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/sewerGutter.JPG" alt="sewerGutter" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="seventh" />
                  <label for="seventh" class="lead text-light"
                    ><a href="/improvProf_efficiency" class="lead text-light">
                      <strong
                        ><em
                          >Improving Professional Efficiency And Quality <br />
                          Of Engineering Products</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-light text-decoration-underline pr-2">
                      <em
                        >By, Engr., John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2020_oct"
                        class="btn bbtn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 25 October 2020 - 2:37 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >To further improve professional efficiency and quality
                        of engineering products, Government Agencies authorised
                        with the approving powers can also play the role of
                        external reviewers of technical documents seeking
                        approval. This will force engineering professionals to
                        conduct their work diligently in accordance with
                        professional codes and ethics, and produce quality jobs
                        that will not be [...]
                      </em>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/team.JPG" alt="team" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="eighth" />
                  <label for="eighth" class="lead text-light"
                    ><a href="/youngEgineer_importance" class="lead text-light">
                      <strong
                        ><em
                          >The Young Engineer: <br />Importance Of Training And
                          Mentorship</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-light text-decoration-underline pr-2">
                      <em
                        >By, Engr., John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2020_sept"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 20 September 2020 - 7:00 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >A young engineer, who is at the threshold of a
                        professional career, transiting from a fresh engineering
                        graduate to a leadership role in engineering should bear
                        in mind that there are many challenges along the
                        journey. The challenges encountered in this transition
                        are of great importance because when the necessary
                        training and mentorship needed at [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/MappImg.jpg" alt="MappImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="ninth" />
                  <label for="ninth" class="lead text-light"
                    ><a href="/studyDesign_Stormwater" class="lead text-light">
                      <strong
                        ><em
                          >Study And Design Of Stormwater Management <br />
                          And Control Measures For Asaba, Warri, Effurun <br />
                          And Environs In Delta State, Nigeria</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2020_august"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 19 August 2020 - 12:11 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >Presentation at Nigerian Society of Engineers, Asaba
                        Chapter Technical Section of Study <br />
                        &amp; Design of Stormwater Management. &amp; Control by
                        Engr. John Cee Onwualu, Jefcon &amp; Associates Ltd
                        &#8211; Engineering Consultants. ABSTRACT Climate change
                        which is a direct effect of global warming has brought
                        extreme weather changes to our environment, such as
                        sea-level rise, more [...]
                      </em>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/JefconTeam.JPG" alt="JefconTeam" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="tenth" />
                  <label for="tenth" class="lead text-light"
                    ><a href="/challenges_youngEngr" class="lead text-light">
                      <strong><em>Challenges Of A Young Engineer</em></strong>
                    </a>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2020_july"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 20 July 2020 - 12:21 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em
                        >In our engineering education, we were taught the use of
                        science and mathematics which form the fundamental basis
                        for the application of the knowledge to interpret,
                        invent, innovate, and solve engineering problems. We
                        live in a dynamic world whose environment is in constant
                        disturbance by humans. These environmental disturbances
                        create complex engineering problems yearning for
                        [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="previous-next-parent">
      <h3 class="lead pl-3 pb-2" style="margin-right: auto">
        <a href="/blogs_page5"><i> ↞ </i><em>Older Post</em></a>
      </h3>
      <h3 class="lead pr-4 pb-3" style="margin-left: auto">
        <a href="/blogs_page3"><em>Newer Post</em><i> ↠ </i></a>
      </h3>
    </div>
    <script>
      const acc = document.getElementsByClassName("accordion");
      let i;
      for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
          this.classList.toggle("active");
          const panel = this.nextElementSibling;
          if (panel.style.display === "block") {
            panel.style.display = "none";
          } else {
            panel.style.display = "block";
          }
        });
      }
    </script>
  </div>
</section>
<%- include('partials/footer') %>
