<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
 />
 <%- include('partials/navbar') %>
 <section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-sm-0">
      <div class="card mb-3" style="background-color: #6d835c">
        <img src="images/ConsideDesignImg.jpg" alt="ConsideDesignImg">
      </div>
      <h4
        class="display-6 mb-md-2 text-center mb-3 pb-3 text-decoration-underline text-light"
        >
        <em>Considerations In The Design <br> Of Stormwater Channels</em>
      </h4>
      <p class="text-center text-decoration-underline lead text-light"><em>By, Engr John Cee Onwualu, JP (FNSE, <br> FNICE, FNIWE, P.E.,
        R.ENG, MASCE, COREN)</em> </p>
      <div class="content text-center pl-5">
        <span style="display: flex; align-content: flex-start;"
        ><a
        href="/archives_2022_may"
        class="btn btn-success text-light"
        style="border-color: #fff; background-color: #6d835c"
        >
        Posted on 31 May 2022 - 8:41 pm
        <a
        class="btn btn-success text-light"
        href="/deprof_archive"
        style="
            text-decoration: none;
            background-color: #6d835c;
            border-color: #fff;
            "
          ><em>By, DEPROF</em></a
          ></a
          >
        </span>
      </div>      
      <hr>  
      <div class="card" style="background-color: #6d835c">
        <img src="images/impImg.jpg" alt="impImg">
        <p class="lead text-center text-light pl-4 pt-2 pr-3"><em>There are many important considerations in the design of durable stormwater channels, and the next series of posts considers some of them.</em></p>
      </div>
      <div class="container">
        <div class="card text-light lead" style="background-color: #6d835c">
          <img src="images/canoeImg.jpg" alt="canoeImg">
          <h4 class="text-light pt-3 text-decoration-underline text-center"><em>Time of Concentration (Tc)</em></h4>
          <p class="lead text-light pl-4 pr-3"><em>The time of concentration (Tc), is defined as the longest time it takes the rain falling at the most distant point within a watershed to reach the point under reference. It is one of the most important variables in the estimation of design discharges. 
            <br>It should be noted that while dealing in watersheds with flat terrain or low topographic slopes, the calculation of Tc, using commonly accepted equations often results in unreasonably large values.</em></p>         
          <p class="pl-4 pr-3"><em>That is, as the slope approaches zero, the travel time approaches infinity.  Through research work, it is recommended that an adjustment of 0.005 be made to the slope in both the Kerby and Kirpich methods to allow for more realistic results.    </p>         
          <p class="pl-4 pr-3"><em>The adjusted slope becomes Slow Slope = So + 0.0005 ….…………… Eq. 3 <br>         
          Therefore, if So ≤ 0.002 m/m (0.2%), a low slope condition exists, and adjustments should be made.</em> </p>
          <p class="pl-4 pr-3"><em>There is also another method of computing Tc, using the application of Kerby formula, which is expressed as: </em> </p>
          <p class="pl-4 pr-3">tc = 1.44(Ln)0.467S-0.235 …………………………………………&#8230;……………. Eq. 4 <br>
          <p class="pl-4 pr-3">Flow Length, L = {[tc/1.44]1/0.467}/ns-0.467 ………………&#8230;…………. Eq. 4.1  </p>
          <p class="pl-4 pr-3"><em>Retardance roughness coefficient,</em> </p>       
          <p class="pl-4 pr-3">n = {(tc/0.1.44)1/0.467}/Ls-0.5 ……………&#8230; Eq. 4.2  </p>       
          <p class="pl-4 pr-3"><em>One of the common methods for estimating the Time of Concentration (Tc), is the application of Kirpich formula.</em> </p>
          <p class="pl-4 pr-3"><em>This is expressed as: <br>
          tc = 0.0195{L0.770/S0.385}  ………………. Eq. 5 <br>
          Travel Length, L = {tcS0.385/0.0195}1/0.770 ……..Eq. 5.1 <br>
          Slope, So = {0.0195L0.770/tc}1/0.385 ……………. Eq. 5.2</em> </p>
          <p class="pl-4"><em>where,</em> </p>
          <p class="pl-4"><em>tc = is in minutes. </em></p>
          <p class="pl-4 pr-3"><em>L = maximum length of travel in meters. </em></p>
          <p class="pl-4 pr-3">S = slope of the catchment in mm-1 over the total length, L.</em> </p>
          <p class="pl-4 pr-3"><em>Kirpich method yields very conservative or short times of concentration that result in high peak runoff rates, especially from the Rational method.</em> </p>  
          <img src="images/kerbyMethodImg.jpg" alt="kerbyMethodImg" >
          <p class="text-center text-light pt-3 text-decoration-underline"><strong><em>Kerby – Kirpich Method </em> </strong></p>
          <p class="pl-4 pr-3"><em>The Kerby – Kirpich method of computing time of concentration (Tc), is one of the best approaches, which produces Tc estimates that are consistent with watershed time values independently derived from real world storms and runoff hydrographs.</em>  </p>
          <p class="pl-4 pr-3">This is expressed as:  Tc = Inlet time + Channel flow time Tc = tov + tch  ……………………  Eq. 6 </p>
          <p class="pl-4 pr-3">Tc = tov + (0.0195L0.770/(√so)0.770)  …………………………… Eq. 6.1  </p>
          <p class="pl-4"><em>Where,</em> </p>
          <p class="pl-4 pr-3">tov = overland flow time tch = channel flow time </p>
          <p class="pl-4 pr-3"><em>The Kerby – Kirpich method for estimating Tc is applicable to watersheds ranging from 0.70Km2 to 389 Km2, main channel lengths between 1600m and 80000m, and main channel slopes of between 0.002 and 0.02 (m/m).</em> </p>
          <p class="pl-4 pr-3"><em>In the next post in the series, we look at OVERLAND FLOW and CHANNEL FLOW. </em></p>  
          <hr>     
          
          <div class="card mt-2 mb-3 mr-3 ml-3">
            <div class="card-body text-center" style="background-color: #6D835C;">
              <p style="width: 100%; height: 100%;"><a href="/recommend_stormWater" class="text-light" style="text-decoration: none;"><i>←&emsp;</i></a>
                <a class="text-light" href="/recommend_stormWater" title="Recommendations For Stormwater Management And Control By, Engr. John Cee Onwualu (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)">
                  <span class="text-center lead"><em>Recommendations For Stormwater <br> Management And Control <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, <br> FNIWE, P.E., R.ENG, MASCE, COREN)</em>
                    <a class="next-post btn btn-lg btn-outline-secondary" href="/recommend_stormWater" title="Recommendations For Stormwater Management And Control"></a>
                  </span>
                  <a class="next-post btn btn-lg btn-outline-light" href="recommend_stormWater" title="Recommendations For Stormwater Management And Control">
                  <span class="arrow">&rarr;</span>
                </a>                            
              </p>                        
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="background-color: #6d835c">
        <h4
          class="display-6 lead text-light mt-3 text-decoration-underline text-center"
        >
          <strong><em>About us</em></strong>
        </h4>
        <div class="card-body text-center">
          <p class="lead text-light"><b>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</p>
          <div class="row">
            <div class="col-sm-6 mb-sm-0">
              <div class="card" style="background-color: #6d835c">
                <h4 class="text-light text-center text-decoration-underline pt-3"><em>Recent Posts</em></h4>
                <div class="card-body text-start text-light lead">
                  <div class="<ul class="list-unstyled> 
                    <li><a class="text-light" href="/archives_2025_june" style="text-decoration: none;"><em>June 2025</em></a><br><a href="/preventing_stormwater" class="text-light"><em>Preventing Stormwater Pollution: Implementing Effective QC For Drainage Systems In Nigeria <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2025_april" style="text-decoration: none;"><em>April 2025</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_july"><em>July 2024</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, John Cee Onwualu JP (FNSE, FNICE, FNIWE, P.E., R.ENG. MASCE)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_june"><em>June 2024</em></a><br><a href="/ensuringStormwater" class="text-light"><em>Ensuring Stormwater Drainage System Efficiency: Quality Control Measures In Nigerian Construction Projects <br>  By, John Cee Onwualu JP (FNSE, FNICE, FNIWE, P.E., R.ENG. MASCE)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_may"><em>May 2024</em></a><br><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges Of Stormwater Management In Urban Areas Of Nigeria: A Critical Analysis</em></a> </li>                      
                    <li class="pt-2"><a class="text-light"  href="/archives_2024_april"><em>April 2024</em></a><br><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a> </li></ul>          
                  </div>
                </div>
              </div>
              <h4 class="text-light text-decoration-underline text-center mt-2"><em>Categories</em></h4>
              <div class="card-body text-start text-light lead">
                <div class="<ul class="list-unstyled> 
                  <a class="text-light pl-3" href="/case_studies" style="text-decoration: none;"><em>Case Studies</em></a><br>                         
                  <a class="text-light pl-3" href="/construction_law" style="text-decoration: none;"><em>Construction Law</em></a> <br>                        
                  <a class="text-light pl-3" href="/construction_technology" style="text-decoration: none;"><em>Construction Technology</em></a><br>                         
                  <a class="text-light pl-3" href="/consultancy_advisory" style="text-decoration: none;"><em>Consultancy And Advisory Services</em></a><br>                        
                  <a class="text-light pl-3" href="/engDesign_simulation" style="text-decoration: none;"><em>Engineering Design And Simulation</em></a><br>                       
                  <a class="text-light pl-3" href="/category_eng_surveys" style="text-decoration: none;"><em>Engineering Surveys</em></a><br>                       
                  <a class="text-light pl-3" href="/cat_environmental" style="text-decoration: none;"><em>Environmental</em></a><br>                       
                  <a class="text-light pl-3" href="/cat_feasibility_Eco" style="text-decoration: none;"><em>Feasibility And Economic Studies</em></a><br>
                  <a class="text-light pl-3" href="/industryNews_trend" style="text-decoration: none;"><em>Industry News And Trends</em></a><br>
                  <a class="text-light pl-3" href="/innovation_research" style="text-decoration: none;"><em>Innovation And Research</em></a><br>
                  <a class="text-light pl-3" href="/mech_elec_Plumbing" style="text-decoration: none;"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                  <a class="text-light pl-3" href="/pro_superv_cat" style="text-decoration: none;"><em>Project Supervision And Management</em></a><br>
                  <a class="text-light pl-3" href="/proj_valuation_cost" style="text-decoration: none;"><em>Project Valuation And Cost Control</em></a><br>
                  <a class="text-light pl-3" href="/safety_regulations" style="text-decoration: none;"><em>Safety And Regulations</em></a><br>
                  <a class="text-light pl-3" href="/training_education" style="text-decoration: none;"><em>Training And Education</em></a><br>
                  <a class="text-light pl-3" href="/uncategorized" style="text-decoration: none;"><em>Uncategorized</em></a><br>
                  <span class="pl-3">
                    <a class="btn btn-success text-success mt-2 pr-3" style="background-color: #fff;;"  href="/blogs"><em>More ⇥</em></a>                      
                  </span>
                </div>
              </div>                 
              <div class="row">
                <div class="col-lg-6">
                  <div class="card" style="background-color: #6d835c">
                    <div class="card-body">
                      <h4 class="text-light mt-3 text-decoration-underline text-center">
                        <strong><em>Popular Tags</em></strong>
                      </h4>
                      <div class="row">
                        <div class="col-sm-6 mb-sm-0 text-start">
                          <ul  style="display: inline-block;">
                            <a class="lead text-light" href="/tag_drainageChannels"><em>#drainagechannel(2)</em></a><br>
                            <a class="lead text-light" href="/tag_floodwatercontrol"><em>#flood-water-control(3)</em></a><br>
                            <a class="lead text-light" href="/tag_stormwater"><em>#stormwater(3)</em></a><br>
                            <a class="lead text-light" href="/tag_stormwatermanagement"><em>#storm-water-management(5)</em></a><br>
                            <a class="lead text-light" href="/tag_civilengineering"><em>#civilengineering(3)</em></a><br>
                            <a class="lead text-light" href="/tag_complexengineerprob"><em>#complex-engineering-problems(2)</em></a><br>
                            <a class="lead text-light" href="/tag_construction"><em>#construction(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainage"><em>#drainage(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagebasin"><em>#drainagebasin(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagebresilien"><em>#drainagebresilien(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagecell"><em>#drainagecell(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagechannel"><em>#drainagechannel(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagecontractor"><em>#drainagecontractor(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagecover"><em>#drainagecover(3)</em></a>  <br> 
                            <a class="lead text-light" href="/tag_drainagedesign"><em>#drainagedesign(6)</em></a> <br>  
                            <a class="lead text-light" href="/tag_drainageditch"><em>#drainageditch(3)</em></a> <br> 
                            <a class="lead text-light" href="/tag_drainageengineer"><em>#drainageengineer(6)</em></a> <br>  
                            <a class="lead text-light" href="/tag_drainagehole"><em>#drainageholes(3)</em></a> <br>
                            <a class="lead text-light" href="/tag_drainageissues"><em>#drainageissues(3)</em></a> <br>
                            <a class="lead text-light" href="/tag_drainagelife"><em>#drainagelife(3)</em></a> <br>
                            <a class="lead text-light" href="/tag_drainageline"><em>#drainageline(3)</em></a> <br>
                            <a class="lead text-light" href="/tag_drainagepathway"><em>#drainagepathways(3</em>)</a> <br>  
                            <a class="lead text-light" href="/tag_drainagepipe"><em>#drainagepipe(3)</em></a>   
                          </ul>
                        </div>
                        <div class="col-sm-6 mb-sm-0 text-start">
                          <ul style="display: inline-block;">
                            <a class="lead text-light" href="/tag_drainagepipes"><em>#drainagepipes(3)</em></a> <br>  
                            <a class="lead text-light" href="/tag_drainageproblems"><em>#drainageproblems(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainageproducts"><em>#drainageproducts(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainageproject"><em>#drainageproject(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagesolution"><em>#drainagesolution(6)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagesolutions"><em>#drainagesolutions(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagespecialists"><em>#drainagespecialists(6)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagesystem"><em>#drainagesystem(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagesystems"><em>#drainagesystems(4)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagetile"><em>#drainagetile(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagevisage"><em>drainagevisage(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainagework"><em>#drainagework(3)</em></a><br>
                            <a class="lead text-light" href="/tag_drainageworks"><em>#drainageworks(3)</em></a><br> 
                            <a class="lead text-light" href="/tag_engineeringfundamentals"><em>#engineering-fundamentals(2)</em></a> <br> 
                            <a class="lead text-light" href="/tag_engineeringpractices"><em>#engineeringpractices(3)</em></a> <br> 
                            <a class="lead text-light" href="/tag_Nigeria"><em>#Nigeria(3)</em></a> <br> 
                            <a class="lead text-light" href="/tag_qualityEngProducts"><em>#quality-of-engineering-products(2)</em></a> <br> 
                            <a class="lead text-light" href="/tag_stormwaterdrainage"><em>#storm-water-drainage(3)</em></a> <br> 
                            <a class="lead text-light" href="/tag_storm_water_managemt"><em>stormwater-management(5)</em></a> <br> 
                            <a class="lead text-light" href="/tag_sustainStormwatmanage"><em>#sustainable-storm-water-management(3)</em></a> <br> 
                            <a class="lead text-light" href="/tag_youngengineer"><em>#youngengineer(2)</em></a> 
                          </ul>
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>  
              <div class="card" style="background-color: #6D835C";>
                <h4
                  class="pt-3 pb-2 text-light text-decoration-underline text-center"
                >
                  <strong><em>Jefcon Blog Post</em></strong>
                </h4> 
                <div class="row">
                  <div class="col-sm-6 mb-sm-0 text-start">
                    <ul style="display: inline-block;">
                      <a class="lead text-light" href="/case_studies"><em>Case Studies</em></a><br>
                      <a class="lead text-light" href="/construction_law"><em>Construction Law</em></a><br>
                      <a class="lead text-light" href="/construction_technology"><em>Construction Technology</em></a><br>
                      <a class="lead text-light" href="/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>
                      <a class="lead text-light" href="/engDesign_simulation"><em>Engineering Design And Simulation</em></a><br>
                      <a class="lead text-light" href="/category_eng_surveys"><em>Engineering Surveys</em></a><br>
                      <a class="lead text-light" href="/cat_environmental"><em>Environmental</em></a><br>
                      <a class="lead text-light" href="/cat_feasibility_Eco"><em>Feasibility And Economic Studies</em></a><br>
                      <a class="lead text-light" href="/industryNews_trend"><em>Industry News And Trends</em></a><br>
                      <a class="lead text-light" href="/innovation_research"><em>Innovation And Research</em></a><br>
                      <a class="lead text-light" href="/mech_elec_Plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                      <a class="lead text-light" href="/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                      <a class="lead text-light" href="/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                      <a class="lead text-light" href="/safety_regulations"><em>Safety And Regulations</em></a><br>
                      <a class="lead text-light" href="/training_education"><em>Training And Education</em></a><br>
                      <a class="lead text-light" href="/uncategorized"><em>Uncategorized</em></a> 
                    </ul>
                  </div>
                  <div class="col-sm-6 mb-sm-0 text-start">
                    <ul style="display: inline-block;">
                      <a class="lead text-light" href="/archives_2025_june"><em>June 2025</em></a><br>
                      <a class="lead text-light" href="/archives_2025_april"><em>April 2025</em></a><br>
                      <a class="lead text-light" href="/archives_2024_july"><em>July 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_june"><em>June 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_may"><em>May 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_april"><em>April 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_march"><em>March 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_feb"><em>February 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2024_jan"><em>January 2024</em></a><br>
                      <a class="lead text-light" href="/archives_2023_dec"><em>December 2023</em></a><br>
                      <a class="lead text-light" href="/archives_2023_nov"><em>November 2023</em></a><br>
                      <a class="lead text-light" href="/archives_2023_oct"><em>October 2023</em></a><br>
                      <a class="lead text-light" href="/archives_2023_march"><em>March 2023</em></a><br>
                      <a class="lead text-light" href="/archives_2023_feb"><em>February 2023</em></a> <br> 
                      <a class="lead text-light" href="/archives_2023_jan"><em>January 2023</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_dec"><em>December 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_nov"><em>November 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_oct"><em>October 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_sept"><em>September 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_august"><em>August 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_july"><em>July 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_may"><em>May 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_april"><em>April 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_march"><em>March 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_feb"><em>February 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2022_jan"><em>January 2022</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_dec"><em>December 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_nov"><em>November 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_august"><em>August 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_june"><em>June 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_may"><em>May 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_april"><em>April 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2021_jan"><em>January 2021</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_nov"><em>November 2020</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_oct"><em>October 2020</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_sept"><em>September 2020</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_august"><em>August 2020</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_july"><em>July 2020</em></a> <br> 
                      <a class="lead text-light" href="/archives_2020_may"><em>May 2020</em></a> 
                    </ul>
                  </div>
                </div>
              </div>
              <hr>
              <div class="card-body">                
                <h4 class="lead text-center text-light"><b><em>This entry was posted in - <a class="text-light" href="/uncategorized" rel="category tag" style="text-decoration: none;">&emsp;Uncategorized</a></em></b></h4>
                <h4 class="lead text-light text-center"><b><em>By, <a class="text-light" href="/deprof_archive" style="text-decoration: none;">DEPROF</a></em></b></h4>
                <hr>
                <h4 class="lead text-center text-light"><b><em>Bookmark the <a class="text-light" href="/consideratns_stormwater" title="Permalink to Considerations In The Design Of Stormwater Channels" 
                  rel="bookmark" style="text-decoration: none;">Permalink</a></em></b>
                </h4>
                <hr>           
                <h4 class="pt-3 text-decoration-underline text-light text-center"><b><em>No comments yet!</em></b></h4>
                <div id="respond" class="comment-respond">
                  <h3 id="reply-title" class="comment-reply-title"></h3><p class="must-log-in lead text-light text-center"><em>You must be</em> <a class="text-light" href="https://jefconassociates.com/wp-login.php?redirect_to=https%3A%2F%2Fjefconassociates.com%2Fblog%2F2024%2F07%2F29%2Fbest-practices-for-concrete-work-in-stormwater-drainage-quality-control-for-durability-in-nigerian-climates-by-john-cee-onwualu-fnse-fnice-fniwe-p-e-r-eng-masce%2F"><em>logged in</em></a> to post a comment.</p>
                </div>  
                <hr>               
                <div class="card mt-2 mb-3">
                  <div class="card-body text-center" style="background-color: #6D835C;">
                    <p style="width: 100%; height: 100%;"><a href="/channel_select_stormwater" class="text-light" style="text-decoration: none;"><i>←&emsp;</i></a>
                      <a class="text-light" href="/channel_select_stormwater" title="Channel Selection For Stormwater Control By, Engr. John Cee Onwualu (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)">
                        <span class="text-center lead"><em>Channel Selection For Stormwater Control <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, <br> FNIWE, P.E., R.ENG, MASCE, COREN)</em>
                          <a class="next-post btn btn-lg btn-outline-secondary" href="/channel_select_stormwater" title="Channel Selection For Stormwater Control"></a>
                        </span>
                        <a class="next-post btn btn-lg btn-outline-light" href="channel_select_stormwater" title="Channel Selection For Stormwater Control">
                        <span class="arrow">&rarr;</span>
                      </a>                            
                    </p>                        
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h4 class="text-light text-center text-decoration-underline pl-3 mt-5"><em>Related Blog Posts Based On Page Title</em></h4>
  <div class="container mt-3">
    <div class="row">
      <div class="col align-self-start">
        <div class="card mt-3">
          <img src="images/preventImg.jpg" alt="preventImg" class="card-img-top">
          <div class="card-body" style="background-color: #6D835C;">
            <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/preventing_stormwater"><em>Preventing Stormwater Pollution: Implementing <br> Effective QC For Drainage Systems In Nigeria</em></a></h4>
            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
            <p class="lead text-light text-center"><em>Preventing Stormwater Pollution: Implementing Effective QC for Drainage Systems in Nigeria Stormwater, the water that runs off impervious surfaces during rainfall, is a critical element in urban environments. While seemingly benign, its journey through our cities can transform it into a potent source of pollution, significantly impacting Nigeria&#8217;s ecosystems and public health. Effective quality control (QC) for drainage [...] <br>
              on Thursday, 2nd Nov. 2023</em></a>
            </p>
            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
            <p class="lead text-center"><a class="text-light" href="/construction_technology" rel="category tag"><em>Construction Technology</em></a> <a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/cat_environmental" rel="category tag"><em>Environmental</em></a></p>
          </div>
        </div>
      </div>
      <div class="col align-self-start">
        <div class="card mt-3">
          <img src="images/AviationWork.jpeg" alt="AviationWork" class="card-img-top">
          <div class="card-body" style="background-color: #6D835C;">
            <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/understan_geotechnical"><em>Understanding Geotechnical Considerations for Stormwater Drainage QC in Nigeria</em></a></h4>
            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
            <p class="lead text-light text-center"><em>In civil engineering, the success of stormwater drainage systems depends heavily on geotechnical considerations. The interplay between soil properties and ground conditions directly impacts the quality, durability, and long-term functionality of these systems. In Nigeria with [...]</em> </p>
            <p class="lead text-center text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
              Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br>
              on Thursday, 2nd Nov. 2023 </em></a>
            </p>
            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
            <p class="lead text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/feasibility_Eco" rel="category tag"><em>Feasibility And Economic Studies</em></a> <a class="text-light" href="/innovation_research" rel="category tag"><em>Innovation And Research</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
          </div>
        </div>
      </div>
      <div class="col align-self-start">
        <div class="card mt-3">
          <img src="images/concrete work.jpeg" alt="concrete work" class="card-img-top">
          <div class="card-body" style="background-color: #6D835C;">
            <h4 class="card-title text-center text-light text-decoration-underline"><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: <br> Quality Control for Durability in Nigerian Climates</em></a></h4>
            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
            <p class="lead text-light text-center"><em>Quality Control for Durability in Nigerian Climates Concrete, forms the backbone of stormwater drainage systems, providing the strength and durability needed to withstand environmental stresses. In Nigeria, where heavy rainfall and fluctuating temperatures often challenge infrastructure, ensuring the quality and longevity of concrete used in stormwater systems.</em></p>
            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
            <p class="lead text-light text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/training_education" rel="category tag"><em>Training And Education</em></a></p>
          </div>  
        </div>
      </div>
      <div class="row">
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/challengesimg.jpg" alt="challengesimg" class="card-img-top">
            <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges of Storm Water Management <br> In Urban Areas of Nigeria: <br> A Critical Analysis</em></a></h4>
              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
              <p class="lead text-center text-light"><em> This paper critically analyzes the various challenges associated with stormwater management in urban areas of Nigeria. It explores the interconnected nature of these challenges, encompassing inadequate infrastructure, rapid population growth, poor urban planning, and lack of financial and institutional capacity.</em></p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
            </div>
          </div>     
        </div>
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/paaayloooadeer.JPG" alt="paaayloooadeer" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a href="/rel_btw_landUseChange" class="text-light"><em>The Relationship Between Land-use Change <br> And Urban Hydrology</em></a></h4>
              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
              <p class="lead text-center text-light"><em> Defining land-use change and urban hydrology Land-use change refers to the human alteration of landscapes for various purposes, such as urban development, transportation, agriculture, and forestry. Urban hydrology, on the other hand, is the study of water movement, storage, and quality in urban areas, including the impacts...</em> </p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
            </div>
          </div>
        </div>
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/sewerDrainage.JPG" alt="sewerDrainage" class="card-img-top">
            <div class="card-body text-light" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/ensuringStormwater"><em>Ensuring Stormwater Drainage System Efficiency</em></a></h4>
              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
              <p class="lead text-center text-decoration-underline text-light"><em>Quality Control Measures In Nigerian Construction Projects</em></p>
              <p class="lead text-center text-light"><em>In Nigeria, the increasing frequency of flooding and urban waterlogging underscores the critical need for effective stormwater drainage systems. These systems are essential for managing rainwater runoff, protecting infrastructure, and safeguarding public health. This article delves into the importance of quality control (QC).</em></p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead text-center text-light"><a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
            </div>
          </div>       
        </div>
        <div class="container">
          <div class="row">
            <div class="col align-self-start">
              <div class="card mt-3">
                <img src="images/projectImage.JPG" alt="projectImage" class="card-img-top">
                <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                  <h4 class="card-title text-center text-light text-decoration-underline"><a href="/urgent_need_4_sustainable" class="text-light"><em>The Urgent Need For Sustainable Management Engineering Pracices</em></a></h4>
                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                  <p class="lead text-center pl-3 pr-3 text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br> on Thursday, 2nd Nov. 2023</em>
                  </p>
                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                  <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                </div>
              </div>     
            </div>
            <div class="col align-self-start">
              <div class="card mt-3">
                <img src="images/green-roof.png" alt="green-roof" class="card-img-top">
                <div class="card-body lead text-light text-center" style="background-color: #6D835C;">
                  <h4 class="card-title text-decoration-underline"><a class="text-light" href="/exampl_Sustainable"><em>Examples of Sustainable Stormwater Management Practices In Urban Areas</em></a></h4>
                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                  <p class="lead text-light text-center pr-3 pl-3"><em>Excerpt from, "Lecture Presentation To Nigerian Institute Of Civil <br>
                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                    on Thursday, 2nd Nov. 2023</em>
                  </p>
                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                  <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                </div>
              </div>
            </div>
            <div class="col align-self-start">
              <div class="card mb-3 mt-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                <img src="images/chalposeImg.jpg" alt="chalposeImg" class="card-img-top">
                <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                  <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_posed_by_trad_storm" class="text-light"><em>Challenges Posed By Traditional Storm Water Management Practices</em></a></h4>
                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                  <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                    on Thursday, 2nd Nov. 2023</em>
                  </p>
                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                  <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="images/evaluate.jpeg" alt="evaluate" class="card-img-top">
                  <div class="card-body" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a></h4>
                    <p class="lead text-center text-light"><em> Discover the effectiveness of existing drainage systems in Nigeria for managing rainwater runoff. This article explores the successes, challenges, and areas for improvement in mitigating flooding and ensuring efficient water management in Nigeria.</em></p>
                    <p class="lead text-center text-light"><em>By,</em> <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                  </div>
                </div> 
              </div>
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="images/projectImag.JPG" alt="projectImag" class="card-img-top">
                  <div class="card-body" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/address_nig_wat_Pollution" class="text-light"><em>Addressing Nigeria's Water Pollution Crisis</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                    <p class="lead text-center text-decoration-underline text-light"><em>Understanding the Environmental Challenge Water Pollution: A Major Crisis in Nigeria</em></p>
                    <p class="lead text-center text-light"> <em>In Nigeria, the most populous country in Africa, is grappling with a severe environmental crisis – water pollution. Despite its wealth of water resources, including rivers, lakes, and underground aquifers, the nation struggles to provide its [...]</em></p>
                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead text-center"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                  </div>
                </div> 
              </div>
              <div class="col align-self-start">
                <div class="card mb-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                  <img src="images/NavigatingImg.jpg" alt="NavigatingImg" class="card-img-top">
                  <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/navigat_risk_flooding" class="text-light"><em>Navigating The Risk Of Floods: Civil Engineering Strategies For Managing Flood-Prone Areas</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                      Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                      on Thursday, 2nd Nov. 2023</em>
                    </p>
                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                  </div>
                </div>
              </div>
            </div>                                         
          </div>
        </div>
      </div>
    </div>                 
  </div>      
</section>
<%- include('partials/footer') %>
