<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<%- include('partials/navbar') %>
<section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <h4
    class="display-6 mb-md-2 mt-5 text-start mb-3 pb-3 text-decoration-underline text-light"
    >
    Nothing Found
  </h4>
  <p class="lead text-start text-light"><em>Apologies, but no results were found for the requested archive.</em></p>
  <form
    id="search-form"
    class="search-form my-2 pt-4 my-lg-0"
    role="search"
    method="post"
    action="/search"
    >
    <div class="input-group">
      <input 
        id="search" 
        class="form-control"
        type="search" 
        placeholder="Search Website..." 
        list="search-suggestions" 
        autocomplete="off"
        required
      />
      <datalist id="search-suggestions">
        <ul>
          <li><em>Blogs></em></li>
          <li><em>Services</em></li>
          <li><em>Projects></em></li>
          <li><em>Contact></em></li>
          <li><em>Faq</em></li>
          <li><em>Privacy</em></li>            
        </ul>
      </datalist>
      <button
        id="searchButton"
        type="submit"
        name="submit"
        class="btn btn-outline-light text-light"
        style="background-color: #6D835C;"
      >
        Search
      </button>
    </div>
  </form>
  <script type="text/javascript">
    document.getElementById("searchform").onsubmit = function() {
      window.location = 'git+http://github.com/Francis14741/Jefcon_Associates_Ltd.git/search?q=site:https://github.com/Francis14741/Jefcon_Associates_Ltd.git' + document.getElementById('test').value;
      return false;
    }
  </script>
  <h4 class="display-6 text-decoration-underline pt-5 pb-2 text-light">Other Members</h4>
    <div class="container">
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="background-color: #6d835c";>
            <p><img src="images/john cee.JPG" alt="john cee" class="card-img-top"></p>
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR, JOHN-CEE ONWUALU, JP</strong></em></h4>
              <p class="lead text-light text-decoration-underline"><em>(FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/Jefcon_more" title="ENGR. JOHN-CEE ONWUALU">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-3" style="background-color: #6d835c";>
            <img src="images/chuka.JPG" alt="chuka" class="card-img-top">
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
              <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. CHUKA JOHN ONWUALU">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>    
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="background-color: #6d835c";>
            <img src="images/engr_joel.jpeg" alt="engr_joel"  class="card-img-top"width="424" height="375">
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. JOEL OJO ANAKO</em></strong></h4>
              <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. JOEL OJO ANAKO">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>             
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/Ugochukwu.png " alt="Ugochukwu" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em></strong></h4>
                  <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. FRANCIS UGOCHUKWU ONWUALU">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>     
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/staff2.JPG" alt="chuka" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. PROF. HILARY IJEOMA OWAMAH</em> </strong></h4>
                  <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. PROF. HILARY IJEOMA OWAMAH">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>    
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <img src="images/staff3.JPG" alt="staff3"  class="card-img-top"width="424" height="375">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>MR. ANTHONY IFEANYI UZOGO</em></strong></h4>
                  <p class="lead text-decoration-underline"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. ANTHONY IFEANYI UZOGO">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>             
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/sochukwu.png" alt="sochukwu" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>ENGR. AUGUSTINE SOCHUKWU EGBUNE</em></strong></h4>
                      <p class="lead text-decoration-underline"><em><em>(B.Eng.-Electrical; M.Eng. – Power Ph.D. in-view MNSE, COREN)</em> </em></p>           
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. AUGUSTINE SOCHUKWU EGBUNE">Read More</a>
                      </span>        
                    <span class="placeholder col-6"></span>        
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="background-color: #6d835c";>
                  <img src="images/engr2.JPG" alt="engr2" class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>SURV. CHIKA VINCENT OKOROCHA</em></strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Tech, MSc. in Surveying Geoinformatics, PMP (Reg Surveyor) Certified Project Manager and currently a Ph. D in-view in Geomatic Engineering)</em></p>
                    <span class="card-text placeholder-glow">              
                      <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. CHIKA VINCENT OKOROCHA">Read More</a>
                    </span>        
                    <span class="placeholder col-6"></span>          
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3" style="background-color: #6d835c";>
                  <img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu" class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center mt-3 text-decoration-underline text-light"><strong><em>ENGR. UCHECHUKWU IHUNWEZE</em></strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Eng. in Civil, MSc. Water Resources Engineering and Management, FNSE, FNIWE, CEM, AEE, CAE)</em></p>
                    <span class="card-text placeholder-glow">              
                      <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. UCHECHUKWU IHUNWEZE">Read More</a>
                    </span>        
                    <span class="placeholder col-6"></span>       
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/ENGR-VICTORY.jpeg" alt="ENGR-VICTORY" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 pb-2 text-light"><strong><em>MISS. VICTORY ODINAKA</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS. VICTORY ODINAKA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>        
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" class="card-img-top"></p>
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light text-decoration-underline "><strong><em>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU</em></strong></h4>
                      <p class="lead text-decoration-underline"><em>(ARCON, NIA)</em></p>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>           
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/staff7.JPG" alt="staff2" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong> <em>MISS EUNICE OKONDOR</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS EUNICE OKONDOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>    
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/cous.JPG" alt="cous" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>SURV. IK. J. EMORDI</em></strong></h4>                              
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. IK. J. EMORDI">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/engr-oscar.jpeg" alt="engr" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><em><strong>MR. OSCAR C. OGUDE</strong></em></h4>       
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. OSCAR C. OGUDE">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/SurvAnyimImg.png" alt="SurvAnyimImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>SURV. JUSTICE U. ANYIM</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. JUSTICE U. ANYIM">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
              </div> 
            </div>                        
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/Engr Temitope.jpeg" alt="UzomaImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR. TEMITOPE JOSHUA OLORUNTOKE</em></strong></h4>                               
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. TEMITOPE JOSHUA OLORUNTOKE">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/staff.JPG" alt="staff" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><em><strong>MISS. ENDURANCE EJEMAH</strong></em></h4>       
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS. ENDURANCE EJEMAH">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                  <img src="images/Arch.EsonorImg.png" alt="Arch.EsonorImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>ARCH. C. ESONOR</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ARCH. C. ESONOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
              </div>           
            </div>              
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/UgbodumeImg.jpeg" alt="UgbodumeImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR. UGBODUME JOSEPH AKPOWOWO</em></strong></h4>                             
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. UGBODUME JOSEPH AKPOWOWO">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/EngrOkaforImg.png" alt="EngrOkaforImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>ENGR. FIDELIS O. OKAFOR</em></strong></h4>     
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. UFIDELIS OKAFOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" >
                  <div class="card mb-3" style="background-color: #6d835c;">
                    <img src="images/NewEngrImg.png" alt="NewEngrImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>MR. OBARO ORORHO</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. OBARO ORORHO">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/OsyEmordi.JPG" alt="OsyEmordi" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR, OSITA J. EMORDI</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR, OSITA J. EMORDI">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/ChukwumaImg.png" alt="ChukwumaImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light pb-2 text-decoration-underline"><strong><em>MR, CHUKWUMA ONWUALU</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR, CHUKWUMA ONWUALU">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>          
                    </div>
                  </div>        
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/UzomaImg.png" alt="UzomaImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>MR. UZOMA CHUKWUEMEKA</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. UZOMA CHUKWUEMEKA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>
              </div>
              <div class="container" style="height:50%; width : 50%;">
                <div class="row g-3" >
                  <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/KINGSVIEWiMG.png" alt="KINGSVIEWiMG" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>DEPROF</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/deprof_archive" title="DEPROF">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>   
                <div class="col-12 col-md-6 col-lg-4" style="height:50%; width : 50%;">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/abdulllImg.jpg" alt="abdulllImg" class="card-img-top" >
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>MR. ABDUL M. YAHAYA</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/abdul_yahaya_Archive" title="MR. ABDUL M. YAHAYA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
