<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Tagesschrift&display=swap"
      rel="stylesheet"
    />
    <!-- Google Font -->
    <link
      href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,700"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="./public/imgs" />
    <link rel="stylesheet" href="./style.css" />
    <title><em>Jefcon & Associates Ltd</em></title>
    <style>
      body {
        margin: 0;
        font-family: "Prompt", sans-serif;
        color: lightgreen;
        background: #6D835C;
        overflow-x: hidden;
      }
      section {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 400px;
        padding: 100px 20vh;
      }

      .pale {
        background:  #6d835c;
      }

      .olivedrab {
        background: olivedrab;
      }

      .green {
        background: rgb(157, 219, 157);
      }

      .dark {
        background: #121222;
      }

      .grey{
        background: grey;
      }
      
      /* Default height for small devices */
      #intro-example {
        height: 500px;
        width: auto;
      }

      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-example {
          height: 600px;
          width: 100%;
        }
      }

      .back-video {
        position: absolute;
        right: 0;
        bottom: 0;
        z-index: -4;
      }

      @media (min-aspect-ratio: 16/9) {
        .back-video {
          width: 100%;
          height: auto;
        }
      }

      @media (min-aspect-ratio: 16/9) {
        .back-video {
          width: auto;
          height: 100%;
        }
      }
    </style>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT"
      crossorigin="anonymous"
    />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }
        
      @media (min-width: 768px) {
        .bd-placeholder-img-md {
          font-size: 3.5rem;
        }
      }

      .result-box ul{
        border-top: 1px solid #999;
        padding: 15px 10px;
      }

      .result-box ul li{
        list-style: none;
        border-radius: 3px;
        cursor: pointer;
      }
    </style>  
  </head>
  <body section class="featurette bg-primary"  style="background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed;" />
    <div class="hero">
      <div class="top-fold pt-5 mt-5">
        <div class="curve-img" id="shapeContainer">  
          <video autoplay loop muted plays-inline class="back-video id="vid" src="images/jefcon.mp4"></video>
          <div class="container mt-5 pt-5">
            <h4 class="display-4 text-end text-light text-decoration-underline pt-5 mb-5"><em>JEFCON<br>&<br>ASSOCIATES<br>LTD</em></h4>
            <div class="card-body">
              <h4 class="display-8 text-light text-center">
                <p class="lead text-decoration-underline">
                  <em>We design and build super bridges, houses. <br> roads and storm sewers...</em>
                </p>
              </h4>
            </div>
          </div>
        </div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="1400"
          height="650"
          viewBox="0 0 1280 580"
          preserveAspectRatio="none"
        >
        <defs>
          <rect id="bg-a" width="1280" height="580" />
          <linearGradient
          id="bg-b"
          x1="60%"
          x2="71.552%"
          y1="-1.763%"
          y2="100%"
        >
        <stop offset="0%" stop-color="#777" />
        <stop offset="100%" stop-color="#fff" />
        </linearGradient>
        </defs>  
        <g fill="none" fill-rule="evenodd">
          <mask id="bg-c" fill="#90EE90">
            <use xlink:href="#bg-a"/>
          </mask>
          <path d="M4 4 1278 0c1 137 0 330 0 420 0 89-304 140-639 139C399 557 1 518 3 427 4 355 4 4 4 4Z" fill="#6d835c"/>
        </g>
      </svg>
    </div>
    <section class="featurette bg-primary"  style="background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed;">
    <%- include('partials/navbar') %>
      <div>
        <h2 class="display-6 text-light text-decoration-underline mb-2"><em>About us</em></h2>
        <p class="lead text-center text-light"><strong><em>JEFCON & Associates Ltd</strong> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition <br> solutions with capacities for delivering various Civil Engineering Design services, including <br>Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, <br>Building and Civil/Structural Engineering, high precision Surveying and Mapping.</em></h4>
        <div class="container">
          <div class="row">
            <div class="col-sm-6 mb-sm-0">
              <div class="card mt-3" style="background-color: #6d835c">
                <img src="images/J4.jpg" alt="J4" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="card mt-3" style="background-color: #6d835c">
                <div class="card-body">
                  <p class="lead text-center text-light mb-3 pt-2"><em>Jefcon & Associates Ltd is an Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design Services, including Flood Vulnerability Studies, Modelling, Mapping, Storm Sewer and Flood Control Infrastructures, Buildings, Bridges and Road. </em></p>
                  <p class="lead text-center text-light"><em>With the experiences of highly trained Professional Engineers and Consultants pulled together, Jefcon provides high precision Mechanical, Electrical, Water Resources and Environmental Engineering services to Public, Private, Local and International economies. The company also provides Industrial Support Services to Oilfield production and facilities as well as Consultancy services in Project &amp; Facilities Management.</em></p>               
                </div>
              </div>
            </div>
          </div>
        </div>
        <p></p>
        <div class="container">
          <div class="row">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3">
                <img src="images/layingPipes.JPG" alt="layingPipes" class="card-img-top">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">    
              <div class="card mb-3" style="background-color: #6D835C;">
                <img src="images/JefconTeam.JPG" alt="JefconTeam" class="card-img-top">
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3">
                <img src="images/sewDrain.JPG" alt="sewDrain" class="card-img-top">
              </div>
            </div>
          </div>
        </div>                
      </div>
      <div class="container">
        <h4 class="display-6 text-light text-center mt-5 mb-2 text-decoration-underline"><em>Our Commitments</em></h4>
        <div class="lead text-light text-center mb-2"><em>We are committed to rendering quality services to our client's satisfaction with a Total Quality Management (TMQ) <br> We believe in the concept of total quality in ensuring clients’ satisfaction.</em>
          <p class="lead text-center text-light mt-3 mb-3"><em>Our comprehensive suite of services is designed to meet your every need and help you thrive <br> in today's dynamic business landscape. Contact us today to embark on a journey of growth,<br> innovation, and unparalleled support. Your success is our priority.</em></p>
        </div>          
          <div class="pale">
            <div class="container">
              <div class="row">
                <div class="col align-self-start">
                  <div class="card mt-3 ml-2">
                    <img src="images/VisionStatement.jpg" alt="VisionStatement" class="card-img-top">
                  </div>
                  <div class="display-8 text-center mt-3">
                    <h3 class="text-light text-decoration-underline"><em>Vision Statement</em></h3>
                    <p class="lead text-light text-center ml-2" ><em>Our Vision is to provide sustainable engineering solutions to problematic environmental issues in order to <br>improve people's quality of life.</em></p>
                    <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/vision_statement"><em>More <i>→</i></em></a>                                                                                       
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="card mt-3">
                    <img src="images/CoreValues.jpg" alt="CoreValues" class="card-img-top">
                  </div>
                  <div class="display-8 text-center mt-3">
                    <h3 class="text-light text-decoration-underline"><em>Core Values</em></h3>
                    <p class="lead text-light text-center"><em>Our values solidify who we are and what we believe. 
                      An open relationship with our employees based on mutual trust, 
                      respect and success, Best in class Risk Awareness.</em>
                    </p>
                    <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/our_values"><em>More <i>→</i></em></a>                                                                                       
                  </div>
                </div>
                <div class="col align-self-center">
                  <div class="card mt-3 mr-2">
                    <img src="images/MissionStatement.png" alt="MissionStatement" class="card-img-top">
                  </div>
                  <div class="display-8 text-center text-light mt-3">
                    <h3 class="text-light text-decoration-underline"><em>Mission Statement</em></h3>
                    <p class="lead text-light text-center"><em>Our Mission is to provide world-class engineering solutions through sustainable design and construction techniques of functional and safe infrastructures.</em></p>
                    <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/mission_statement"><em>More <i>→</i></em></a>                                                                                       
                  </div>
                </div>
                <div class="row">
                  <div class="col align-self-start">
                    <div class="card ml-2">
                      <img src="images/team3.jpeg" alt="team3" class="card-img-top">
                    </div>
                    <div class="display-8 text-center text-light mt-3 mb-3 pb-3 pl-2">
                      <h3 class="text-light text-decoration-underline"><em>Team Building</em></h3>
                      <p class="lead text-light text-center"><em>We carry out services through intensive and extensive training of capable hands. This serves as the backbone of our company. Furthermore, we apply advanced technological techniques, training and provision of HSE services to achieve results. Our referrals increasingly grow because of the confidence and trust we have gained in the industry.</em></p>
                      <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/capacity_building"><em>More <i>→</i></em></a>                                                                    
                    </div>
                  </div>
                  <div class="col align-self-center">
                    <div class="card">
                      <img src="images/business-strategy.jpg" alt="business-strategy" class="card-img-top">
                    </div>
                    <div class="text-center text-light mt-3">
                      <h3 class="text-light text-decoration-underline"><em>Business Strategy</em></h3>
                      <p class="lead text-light text-center"><em>With a formidable team of qualified personnel, we work towards ensuring that our goals come to reality. The team is drafted from various fields of social sciences and engineering practice, with long years of experience in their respective fields of operations.</em></p>
                      <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/business_strategy"><em>More <i>→</i></em></a>                      
                    </div>
                  </div>
                  <div class="col align-self-start mt-3">
                    <div class="card">
                      <img src="images/business-concepts.png" alt="business-concepts" class="card-img-top">
                    </div>
                    <div class="display-8 text-center text-light mt-3 mb-3 pb-3">
                      <h3 class="text-light text-decoration-underline mt-5"><em>Business Concepts</em></h3>
                        <p class="lead text-light text-center"><em>Our concept defines the array of services we offer clients, which mostly borders on engineering design of buildings, roads and any other structural amenities of assorted shapes and sizes. This operation covers Architectural, Structural, Mechanical, Electrical and Telecommunication sectors.</em></p>
                        <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/business_concept"><em>More <i>→</i></em></a>                                              
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>          
          <div class="container-fluid">
            <h4 id="comments-title" class="display-6 text-light text-center pt-5 mb-3 text-decoration-underline"><em>Services</em></h4>
            <p class="lead text-center mt-3 pl-4 text-light mb-2"><em>At Jefcon & Associates Ltd, we offer a wide range of construction services <br> to meet your building needs and stormwater management. <br> From onset to completion, we provide exceptional quality, safety, and customer service.</em></p>
            <p class="lead text-center text-light mb-3 pl-4 pr-3"><em>Our comprehensive suite of services is designed to meet your every need and help <br> you thrive in today's dynamic business landscape. </em></p>            
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6D835C;">
                    <img src="images/team1.JPG" alt="team1" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/advisory_services" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          ><em> Advisory Services In Engineering</em>
                        </strong>
                      </a>                   
                      <p class="lead text-center text-light"><em>We utilize our reservoire of experience for consulting services from which we develop findings, conclusions and recommendations that are presented...</em></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6D835C;">
                    <img src="images/EnvironmentalImpact.jpg" alt="EnvironmentalImpact" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/environmental_impact" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          > <em>Environmental Impact Studies And Management</em>
                        </strong>
                      </a>
                      <p class="lead text-center text-light"><em>We are experts in environmental impact studies and management, carried out in two major folds: We perform Environmental impact assessment (EIA) as...</em></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6D835C;">
                    <img src="images/teamGov.JPG" alt="teamGov" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/engineering_design" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          ><em> Engineering Design And Construction</em>
                        </strong>
                      </a>
                      <p class="lead text-center text-light"><em>We offer quality services in Architectural designs,Landscaping and Modeling and Reviewing contractor's work measurement and Evaluations We find creative ways...</em></p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="container pt-2">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6D835C;">
                    <img src="images/EngineeringSurvey.jpg" alt="EngineeringSurvey" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/engineering_surveys" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          ><em> Engineering Surveys</em>
                        </strong>
                      </a>
                      <p class="lead mt-2 text-center text-light"><em>We carry out those activities that are involved in the planning and execution of surveys for the development, design, construction...</em></p>
                    </div>
                  </div>              
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6D835C;">
                    <img src="images/ProjectQuality.jpg" alt="jefconOkowa" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/feasibility_ecoStudies" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          ><em> Feasibility And Economic Studies</em>
                        </strong>
                      </a>
                      <p class="lead text-center text-light"><em>At Jefcon &amp; Associates Ltd, we understand the importance of thorough feasibility and economic studies in determining the viability of ...</em></p>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mt-3" style="background-color: #6D835C;">
                    <img src="images/projectCosting.png" alt="projectCosting" class="card-img-top">
                    <div class="card-body text-center">
                      <a href="/project_costing" class="lead pt-3 pb-3 text-decoration-underline text-light">
                        <strong
                          ><em> Project Costing, Valuation And Tender Analysis</em>
                        </strong>
                      </a>
                      <p class="lead text-center text-light"><em>With a seasoned team of <b>Quantity Surveyors</b> who can provide a full system of budget estimate and cost planning, expenditure is controlled and clients receive better value for money in both design & construction, and project costs are kept within an agreed budget. </em></p>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>  
          <div class="container px-0">
            <div class="row align-items-center content">
              <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                  <div class="col-10 col-lg-8 blurb mb-5 mb-md-5">              
                    <h3 class="display-8 text-center mb-2 text-decoration-underline text-light"><span style="font-family: inherit;"><em>What Sets Us Apart</em></span></h3>
                    <div class="card" style="background-color: #6D835C;">
                      <p class="lead pl-2 pr-2 mt-3 text-light"><em>Our comprehensive suite of services is designed to meet your every need and help you thrive in today's dynamic business landscape. Contact us today to embark on a journey of growth, innovation, and unparalleled support. Your success is our priority.</em></p>
                      <p class="lead text-light pl-2 pr-2"><i>✔</i>&ensp;<em> Personalized Approach: We tailor our services to meet <br>your unique needs and goals.</em></p>
                      <p class="lead text-light pr-2 "><i>✔</i>&ensp;<em> Quality Craftsmanship: Our experienced team ensures exceptional quality and attention to detail.</em></p>
                      <p class="lead text-light pl-2 pr-2"><i>✔</i>&ensp; <em>Safety First: We prioritize safety on every project, ensuring <br> a secure working environment.</em><p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6 text-center order-1 order-md-2">
                <div class="row justify-content-center">
                  <div class="card mb-3" style="background-color: #6D835C;">
                    <h4 class="display-8 pt-3 mb-3 text-decoration-underline text-light"><span style="font-family: inherit;"><em>Get in Touch</em></span></h4>
                    <div class="lead text-center text-light pl-2 pr-2"><i>✔</i> &ensp;<em> Ready to start your construction project? <br> Contact us today to schedule a consultation and let us build your vision into reality! <br>Contact us today to embark on a journey of growth, innovation, and unparalleled support. <br> Your success is our priority.</em> </p> 
                    <p class="text-success">
                      <span class="placeholder-glow">
                        <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/contact">Contact us...</a>
                      </span>
                    </p>                            
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>    
        <h4 class="display-6 text-center text-decoration-underline pb-5 text-light"><em>Team Members</em></h4>
        <div class="container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <p><img src="images/john cee.JPG" alt="john cee" class="card-img-top"></p>
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>ENGR, JOHN-CEE ONWUALU, JP</strong></em></h4>
                  <p class="lead text-decoration-underline"><em>(FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                  <span class="placeholder col-6"></span>         
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal1">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/Jefcon_more" title="ENGR. CHUKA JOHN ONWUALU">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>       
                </div>
              </div>
              <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModal1" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body">
                      <div class="card">
                        <p><img src="images/john cee.JPG" alt="john cee" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. JOHN CEE ONWUALU, JP</strong></h4>
                      <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                      <p class="lead"><strong><em>Engr. John Cee Onwualu</em></strong><em> a highly decorated engineering professional with over 30 years in practice. He is the Principal Partner and Chief Executive Officer of the Company.  He is a visionary leader with a strong background in engineering designs, flood control and business management. He is an Alumnus of University of Benin, Benin – City, Nigeria.</em></p>
                      <p class="lead"><em> He possesses exceptional strategic planning and decision-making skills, as well as a deep understanding of industry trends and technologies.</em></p>
                      <p class="lead"><em>The CEO is known for his ability to inspire and motivate employees, fostering a culture of innovation and collaboration within the organization. He is highly skilled in building and maintaining relationships with clients, partners and stakeholders, driving business growth and success.</em></p>
                      <p class="lead"><em> With a proven track record of driving results, as the CEO of an engineering company, he is a dynamic and forward-thinking leader who is  dedicated to driving the company towards continued success and growth.</em></p>                              
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/chuka.JPG" alt="chuka" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
                  <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
                  <span class="placeholder col-6"></span>         
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal2">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. CHUKA JOHN ONWUALU">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>       
                </div>
              </div>
              <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body text-center">
                      <div class="card">
                        <p><img src="images/chuka.JPG" alt="chuka" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
                      <p class="lead text-decoration-underline"><em>(B.Sc. – Civil; M.Sc. – Civil (Water Resources option), MNSE, COREN)</em></p>
                      <p class="lead text-center"><strong><em>Engr. John Chuka Onwualu</em></strong><em> is professionally certified in civil and water resources engineering, and is registered by NSE and COREN, both the highest Professional Bodies that regulate engineering practices in Nigeria. He is an Alumnus of Coventry university, Coventry, United Kingdom.</em></p>
                      <p class="lead text-center"><em>Engr. John Chuka with over 7 years in practice is the Director Operations, who collaborates with Management to set performance goals and long-term plans.  He is skilled in strategic goals setting for operational efficiency and increased productivity, as well as, developing project plans and implementing them effectively.</em></p>
                      <p class="lead text-center"><em>Engr. Chuka also analyses operational processes and performances, recommending solutions for improvement where necessary.  He has a strong focus on financial control and works closely with HR.</em></p> 
                      <p class="lead text-center"><em>Engr. Chuka is saddled with recruitment and selection of qualified candidates for various positions within the Company. Develops and implements HR policies and procedures to ensure compliance with labour laws and regulations.	Managing employee relations, including resolving Conflicts and addressing grievances. Also conducting performance evaluations and providing feedback to employees.</em></p> 
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <img src="images/engr_joel.jpeg" alt="engr_joel"  class="card-img-top" style="width: 100%; height: 100%">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. JOEL OJO ANAKO</strong></em></h4>
                  <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                  <span class="placeholder col-6"></span> 
                  <span class="card-text placeholder-glow">
                    <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal3">Preview</button></span>
                    <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. CHUKA JOHN ONWUALU">More... </a></span>
                    <span class="placeholder col-6"></span> 
                  </span>               
                </div>
              </div>
              <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
                <div class="modal-dialog modal-md" role="document">
                  <div class="modal-content">
                    <div class="modal-header" style="justify-content: space-between;">
                      <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                      <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                    </div>
                    <div class="modal-body text-center">
                      <div class="card">
                        <p><img src="images/engr_joel.jpeg" alt="engr_joel" style="width: 100%; height: 100%"></p>
                      </div>    
                      <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. JOEL OJO ANAKO</strong></h4>
                      <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                      <p class="lead"><strong><em>Engr. Joel Anako</em></strong><em>, a professional Civil and Structural Engineer by training with over 20 years of practice in civil engineering. He is also registered by NSE and COREN.  He had his B. Eng. and M. Eng. in Civil/Structural Engineering from FUTA, Minna and Bayero University, Kano respectively. He serves as the Head of Engineering Services at JEFCON &amp; Associates Ltd.</em></p>
                      <p class="lead"><em>Leading the Engineering Team, he oversees hiring, training, and project management.  Engaged in project development and planning, vets budget, sets goals, and prepares bidding packages, approves drawings and specifications for contractors. Engr. Joel directs activities for construction of projects from start to finish and oversees the works of other project members.</em></p>
                      <p class="lead"><em>Previously worked in Total Upgrade Projects, an Oil and Gas sector for 12 years in Nigeria and earlier years with construction company in Nigeria.</em><em> Has in depth knowledge in Civil/Structural Engineering, Construction and quality management especially in high rise buildings, Jetty, Bridges, Road, Piling, stormwater drainage works, Steel Structure works,</em></p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row g-3">
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="background-color: #6d835c";>
                  <p><img src="images/staff3.JPG" alt="staff3" class="card-img-top"></p>
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>MR. ANTHONY IFEANYI UZOGO</strong></em></h4>
                    <p class="lead text-decoration-underline"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                    <span class="placeholder col-6"></span>         
                    <span class="card-text placeholder-glow">
                      <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal7">Preview</button></span>
                      <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="MR. ANTHONY IFEANYI UZOGO">More... </a></span>
                      <span class="placeholder col-6"></span> 
                    </span>       
                  </div>
                </div>
                <div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModal7" aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="justify-content: space-between;">
                        <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                        <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                      </div>
                      <div class="modal-body">
                        <div class="card">
                          <p><img src="images/staff3.JPG" alt="staff3" style="width: 100%; height: 100%"></p>
                        </div>    
                        <h4 class="card-title text-decoration-underline text-center"><strong>MR. ANTHONY IFEANYI UZOGO</strong></h4>
                        <p class="lead text-decoration-underline text-center"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                        <p class="lead"><strong><em>Mr. Anthony Ifeanyi Uzogo</em></strong><em> an experienced professional in Administration and Human Resource Management, certified by the Certified Institute of Personnel Management of Nigeria (CIPMN) and the Institute of Strategic Management (ISM), he is an Alumnus of University of Benin, Benin – City, Nigeria. He is saddled with recruitment and selection of qualified candidates for various positions within the Company. He develops and implements HR policies and procedures to ensure compliance with labour laws and regulations.  He manages employees’ relations, including resolving conflicts and addressing grievances.</em></p>
                        <p class="lead"><em> He possesses exceptional strategic planning and decision-making skills, as well as a deep understanding of industry trends and technologies. </em></p>
                        <p class="lead"><em>	Also conducting performance evaluations and providing feedback to employees.  Organizes training and development programmes to Enhance employee skills and knowledge. Managing payroll and benefits administration for all employees, as he ensures workplace health and safety standards are met. Handles employee disciplinary actions and terminations when necessary and collaborate with management to develop strategic HR initiatives that align with company goals. Maintaining employee records and ensuring confidentiality of sensitive information.</em></p>      
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>                                   
              <div class="col-12 col-md-6 col-lg-4">  
                <div class="card mb-3" style="background-color: #6d835c";>
                  <img src="images/Ugochukwu.png" alt="Ugochukwu" class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em></strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                    <span class="placeholder col-6"></span>         
                    <span class="card-text placeholder-glow">
                      <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal8">Preview</button></span>
                      <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. FRANCIS UGOCHUKWU ONWUALU">More... </a></span>
                      <span class="placeholder col-6"></span> 
                    </span>       
                  </div>
                </div>
                <div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModal8" aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="justify-content: space-between;">
                        <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                        <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                      </div>
                      <div class="modal-body text-center">
                        <div class="card">
                          <p><img src="images/Ugochukwu.png" alt="Ugochukwu" style="width: 100%; height: 100%"></p>
                        </div>    
                        <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em> </strong></h4>
                        <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                        <p class="lead"><strong><em>Engr. Francis Ugochukwu Onwualu,</em></strong><em> is a highly trained professional with degrees in mechanical engineering (B.Eng, &
                          M.Sc.). He is a certified mechanical Engineer, and he is registered with NSE and COREN, both the highest Professional
                          Bodies that regulate engineering practices in Nigeria. He is an
                          Alumnus of Coventry university, Coventry, and Aston University,
                          Birmingham, both in United Kingdom respectively.
                          Engr. Ugochukwu Francis is the Director/Company Secretary, who collaborates with Management to meet the set statutory and
                          regulatory goals. He manages the corporate governance of the#w
                          Company as well provides the board with the necessary administrative guides and supports.
                          Engr. Ugochukwu Francis coordinates with statutory bodies and
                          other professionals on compliance with regulatory bodies as well as management of company policies. He has a strong focus on financial control and works closely with HR.</em>
                        </p>
                        <p class="lead"><em>Specific Duties: Prepare and distribute meeting materials, including agendas, minutes, and resolutions. Ensure compliance with company laws, regulations, and policies. File annual returns and other documents with regulatory bodies. Maintain statutory registers, including registers of directors, shareholders, and charges. Provide advice on corporate governance and compliance matters. Coordinate with external auditors and other professionals. Manage company documentation, including articles of association and shareholder agreements.  Ensure timely payment of taxes and other statutory fees. Develop and implement corporate policies and procedures. Provide support to the Board of Directors and senior management.</em></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="background-color: #6d835c";>
                  <img src="images/sochukwu.png" alt="sochukwu"  class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. SOCHUKWU AUGUSTINE EGBUNE</strong></em></h4>
                    <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                    <span class="placeholder col-6"></span> 
                    <span class="card-text placeholder-glow">
                      <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal9">Preview</button></span>
                      <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. SOCHUKWU AUGUSTINE EGBUNE">More... </a></span>
                      <span class="placeholder col-6"></span> 
                    </span>               
                  </div>
                </div>
                <div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModal9" aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header" style="justify-content: space-between;">
                        <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                        <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                      </div>
                      <div class="modal-body text-center">
                        <div class="card">
                          <p><img src="images/sochukwu.png" alt="sochukwu" style="width: 100%; height: 100%"></p>
                        </div>    
                        <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. SOCHUKWU AUGUSTINE EGBUNE</strong></h4>
                        <p class="lead text-decoration-underline"><em>(B.Eng.-Electrical; M.Eng. – Power Ph.D. in-view, MNSE, COREN)</em></p>
                        <p class="lead"><strong><em>Engr. Sochukwu Augustine Egbune</em></strong><em>,is a trained Electrical & Electronic Engineer, who is an Alumnus of University of Benin, Benin – City, Nigeria. He had his B. Eng. And M. Eng. in Electrical engineering with specialist in Power Engineering and he is seeking to expand knowledge further as he is winding up his doctoral degree study in the same field of Engineering.  He has both academic and practical knowledge and seek versatility by delving into other engineering fields.
                          As an Engineering Coordinator of this Company, he oversees four units; Civil/Water/Structural and the Survey Teams.  Others are Architecture, Electrical and ICT engineering activities.  His responsibilities include coordinating and supervising projects within these project areas to ensure successful outcomes.
                        </em></p>
                        <p class="lead"><em>Engr. Sochukwu Augustine Egbune	Holds the position of Engineering Coordinator and reporting to the Engineering Manager. He manages the Information Technology (IT) and Information Communication Technology, ICT department of the Company. Has both academic and practical knowledge and oversees the Civil/Water/Structural and Survey Teams. Others are Architecture, Electrical and Engineering activities. Holds the position of Engineering Coordinator and reporting to the Engineering Manager</em></p>
                        <p class="lead"><em>Other responsibilities include, developing and Maintaining project plans, schedules, and budgets to meet projects’ objectives.	Maintaining records of construction progress, including written reports and digital images. Coordinates the Information telecommunication (IT) and ICT Engineering Activities.</em></p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="container mt-3">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" class="card-img-top" style="width: 100%; height: 100%"></p>
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light text-decoration-underline "><em><strong>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU.</strong></em></h4>
                      <p class="lead text-decoration-underline"><em>(ARCON, NIA)</em></p>
                      <span class="placeholder col-6"></span>         
                      <span class="card-text placeholder-glow">
                        <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal4">Preview</button></span>
                        <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU">More... </a></span>
                        <span class="placeholder col-6"></span> 
                      </span>       
                    </div>
                  </div>
                  <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModal4" aria-hidden="true">
                    <div class="modal-dialog modal-md" role="document">
                      <div class="modal-content">
                        <div class="modal-header" style="justify-content: space-between;">
                          <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                          <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                        </div>
                        <div class="modal-body">
                          <div class="card">
                            <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" style="width: 100%; height: 100%"></p>
                            </div>    
                            <h4 class="card-title text-decoration-underline text-center"><strong>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU.</strong></h4>
                            <p class="lead text-decoration-underline"><em>-Obtained M.Sc. (2005) and B.Sc. (1999), respectively in Architecture at the Ambrose Alli University, Ekpoma, Edo State. Professional registrations with: Architects Registration Council of Nigeria (ARCON) and Nigerian Institute of Architects (NIA)</em></p>
                            <p class="lead"><strong><em>Arc. Ayibuogu-Uwandi Chiedu Uchechukwu,</em></strong><em> A highly skilled and dedicated Project Architect with expertise in design, project management, and planning. Proficient in AutoCAD and possessing excellent critical thinking and problem-solving skills. Proven track record of successfully managing building teams to deliver projects on schedule, within budget, and to specification.</em></p>
                            <p class="lead"><em>His responsibilities are as follows: Develop and implement innovative design concepts and solutions. Create detailed architectural designs, models, and presentations using AutoCAD and other software. Conduct site analyses and feasibility studies to inform design decisions. Collaborate with clients to understand project requirements and preference.	Oversee project timelines, budgets, and resources to ensure successful delivery. Coordinate and manage building teams, including contractors, engineers, and consultants.	Identify and mitigate project risks, developing contingency plans as needed. 	Ensure compliance with regulatory requirements and industry standards.</em></p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button> 
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-3" style="background-color: #6d835c";>
                      <img src="images/staff2.JPG" alt="staff2" class="card-img-top" style="width: 100%; height: 100%">
                      <div class="card-body text-light text-center">
                        <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. PROF. HILARY IJEOMA OWAMAH</strong></em></h4>
                        <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                        <span class="placeholder col-6"></span>         
                        <span class="card-text placeholder-glow">
                          <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal5">Preview</button></span>
                          <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. PROF. HILARY IJEOMA OWAMAH">More... </a></span>
                          <span class="placeholder col-6"></span> 
                        </span>       
                      </div>
                    </div>
                    <div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModal5" aria-hidden="true">
                      <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                          <div class="modal-header" style="justify-content: space-between;">
                            <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                            <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                          </div>
                          <div class="modal-body text-center">
                            <div class="card">
                              <p><img src="images/staff2.JPG" alt="staff2" style="width: 100%; height: 100%"></p>
                            </div>    
                            <h4 class="display-8 text-center mt-3 text-dark text-decoration-underline"><em><strong>ENGR. PROF. HILARY IJEOMA OWAMAH</strong></em></h4>
                            <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                            <p class="lead text-center"><strong><em>Engr. Hilary Ijeoma Owamah </em></strong><em> is a Professor of Civil Engineering with years of experience in water and environmental engineering. He serves as one of the external Consultants to the Firm. He is involved in project conception and feasibility studies, data analysis, interpretation and modelling design. He is also, involved in River pollution monitoring and control as well as environmental monitoring and protection. He is a distinguished Fellow of different engineering bodies and a distinguished author of several engineering research works. He has handled general construction and geotechnical investigations in different projects within and outside Delta State. He is involved in project costing and appraisal, project development plan, implementation and interfaces with management, project schedule, monitoring, and milestone inspection.
                              Also, experienced in Quality Assurance and Quality Control. Project Certification and Value Assessment</em></p>
                            <p class="lead text-center"><em>Serves as an External Consultant to JEFCON & Associates Ltd. Involves in project conception and feasibility studies, engineering and installation designs, project costing and appraisal. Oversees Quality Assurance and Quality Control implementation, project certification and value assessment.</em></p>
                            <p class="lead text-center"><em>Others are project development plan, implementation and interfaces with management, project schedule, monitoring, and milestone inspection.</em></p> 
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 col-md-6 col-lg-4">
                    <div class="card mb-3" style="background-color: #6d835c";>
                      <img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu"  class="card-img-top" style="width: 100%; height: 100%">
                      <div class="card-body text-light text-center">
                        <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. UCHECHUKWU IHUNWEZE</strong></em></h4>
                        <p class="lead text-decoration-underline"><em>(B.Eng. in Civil, MSc. Water Resources Engineering and Management, FNSE, FNIWE, CEM, AEE, CAE)</em></p>
                        <span class="placeholder col-6"></span> 
                        <span class="card-text placeholder-glow">
                          <span class="placeholder col-7"><button type="button" class="btn btn-success btn-md" style="background-color: #6D835C;" data-toggle="modal" data-target="#myModal6">Preview</button></span>
                          <span class="placeholder col-4"><a class="btn btn-success"  style="background-color: #6D835C"; target="team" href="/contact_notfound" title="ENGR. UCHECHUKWU IHUNWEZE">More... </a></span>
                          <span class="placeholder col-6"></span> 
                        </span>               
                      </div>
                    </div>
                    <div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModal6" aria-hidden="true">
                      <div class="modal-dialog modal-md" role="document">
                        <div class="modal-content">
                          <div class="modal-header" style="justify-content: space-between;">
                            <h3 class="modal-title text-center text-decoration-underline"><em><strong>Profile</strong></em></h3>
                            <button type="button" class="btn btn-light" data-dismiss="modal">&times;</button>  
                          </div>
                          <div class="modal-body text-center">
                            <div class="card">
                              <p><img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu" style="width: 100%; height: 100%"></p>
                            </div>    
                            <h4 class="card-title text-decoration-underline text-center"><strong>ENGR. UCHECHUKWU IHUNWEZE</strong></h4>
                            <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
                            <p class="lead"><strong><em>Engr. Uchechukwu Ihunweze </em></strong><em>,is a distinguished Fellow of Nigerian Society of Engineers and Nigerian Institution of Water Engineers. He is fluent in the use of English and German languages. He had his M.Sc. in Water Resources and Engineering Management from University of Stuttgart, Germany
                              He serves as an external Consultant to Jefcon & Associates Limited. He is a highly trained professional Engineer in Civil/Water resources engineering who have played major role in the training of engineers, especially in the water sector. He is also, a certified energy Auditor and a trainer in energy management.  
                              Engr. Uche, has over the years acquired experience and skills from industries and various institutions of learning in Civil/Water resources engineering as well as in environmental engineering. He is involved in cost engineering and financial analysis training of the personnel. He participates actively in designing and modelling of stormwater as well as water reticulation systems. 
                              He has been involved in the design and construction of different Irrigation and Dam projects within Nigeria. He also handles project costing and appraisal, implementation and interfaces with management.
                              </em>
                            </p>
                            <p class="lead"><em>Engr. Uchechukwu Ihunweze's responsibilities are as follows: Manages training and development of project teams. Handles design and modelling of Water Reticulation System.	Involves in design and supervision of irrigation system, dams and other infrastructure. Participates in cost engineering for new projects. 
                              Carries out cost review of existing projects to include conflict resolution option.
                              Provides advisory help on management of basic infrastructure for sustainable usage.
                              </em>
                            </p>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>  
                <script>
                  // Get the button that opens the modal
                  const btn = document.querySelectorAll("button.modal-button");
                  // All page modals
                  const modals = document.querySelectorAll(".modal");
                  // Get the <span> element that closes the modal
                  const spans = document.getElementsByClassName("close");
                  // When the user clicks the button, open the modal
                  for (let i = 0; i < btn.length; i++) {
                    btn[i].onclick = function (e) {
                      e.preventDefault();
                      modal = document.querySelector(e.target.getAttribute("href"));
                      modal.style.display = "block";
                    };
                  }
                  // When the user clicks on <span> (x), close the modal
                  for (let i = 0; i < spans.length; i++) {
                    spans[i].onclick = function () {
                      for (let index in modals) {
                        if (typeof modals[index].style !== "undefined")
                          modals[index].style.display = "none";
                      }
                    };
                  }
                  // When the user clicks anywhere outside of the modal, close it
                  window.onclick = function (event) {
                    if (event.target.classList.contains("modal")) {
                      for (let index in modals) {
                        if (typeof modals[index].style !== "undefined")
                          modals[index].style.display = "none";
                      }
                    }
                  };
                </script>
                <div id="content" class="container mt-3">
                  <h4 class="display-6 text-light text-center mb-3 text-decoration-underline"><em>Recent Blogs</em></h4>                  
                  <div class="container">
                    <div class="row">
                      <div class="col align-self-start">
                        <div class="card mt-3">
                          <img src="images/preventImg.jpg" alt="preventImg" class="card-img-top">
                          <div class="card-body" style="background-color: #6D835C;">
                            <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/preventing_stormwater"><em>Preventing Stormwater Pollution: Implementing <br> Effective QC For Drainage Systems In Nigeria</em></a></h4>
                            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                            <p class="lead text-light text-center"><em>Preventing Stormwater Pollution: Implementing Effective QC for Drainage Systems in Nigeria Stormwater, the water that runs off impervious surfaces during rainfall, is a critical element in urban environments. While seemingly benign, its journey through our cities can transform it into a potent source of pollution, significantly impacting Nigeria&#8217;s ecosystems and public health. Effective quality control (QC) for drainage [...] <br>
                              on Thursday, 2nd Nov. 2023</em></a>
                            </p>
                            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                            <p class="lead text-center"><a class="text-light" href="/construction_technology" rel="category tag"><em>Construction Technology</em></a> <a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/cat_environmental" rel="category tag"><em>Environmental</em></a></p>
                          </div>
                        </div>
                      </div>
                      <div class="col align-self-start">
                        <div class="card mt-3">
                          <img src="images/AviationWork.jpeg" alt="AviationWork" class="card-img-top">
                          <div class="card-body" style="background-color: #6D835C;">
                            <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/understan_geotechnical"><em>Understanding Geotechnical Considerations for Stormwater Drainage QC in Nigeria</em></a></h4>
                            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                            <p class="lead text-light text-center"><em>In civil engineering, the success of stormwater drainage systems depends heavily on geotechnical considerations. The interplay between soil properties and ground conditions directly impacts the quality, durability, and long-term functionality of these systems. In Nigeria with [...]</em> </p>
                            <p class="lead text-center text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                              Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br>
                              on Thursday, 2nd Nov. 2023 </em></a>
                            </p>
                            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                            <p class="lead text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/feasibility_Eco" rel="category tag"><em>Feasibility And Economic Studies</em></a> <a class="text-light" href="/innovation_research" rel="category tag"><em>Innovation And Research</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
                          </div>
                        </div>
                      </div>
                      <div class="col align-self-start">
                        <div class="card mt-3">
                          <img src="images/concrete work.jpeg" alt="concrete work" class="card-img-top">
                          <div class="card-body" style="background-color: #6D835C;">
                            <h4 class="card-title text-center text-light text-decoration-underline"><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: <br> Quality Control for Durability in Nigerian Climates</em></a></h4>
                            <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                            <p class="lead text-light text-center"><em>Quality Control for Durability in Nigerian Climates Concrete, forms the backbone of stormwater drainage systems, providing the strength and durability needed to withstand environmental stresses. In Nigeria, where heavy rainfall and fluctuating temperatures often challenge infrastructure, ensuring the quality and longevity of concrete used in stormwater systems.</em></p>
                            <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                            <p class="lead text-light text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/training_education" rel="category tag"><em>Training And Education</em></a></p>
                          </div>  
                        </div>
                      </div>
                      <div class="row">
                        <div class="col align-self-start">
                          <div class="card mt-3">
                            <img src="images/challengesimg.jpg" alt="challengesimg" class="card-img-top">
                            <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                              <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges of Storm Water Management <br> In Urban Areas of Nigeria: <br> A Critical Analysis</em></a></h4>
                              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                              <p class="lead text-center text-light"><em> This paper critically analyzes the various challenges associated with stormwater management in urban areas of Nigeria. It explores the interconnected nature of these challenges, encompassing inadequate infrastructure, rapid population growth, poor urban planning, and lack of financial and institutional capacity.</em></p>
                              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                              <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                            </div>
                          </div>     
                        </div>
                        <div class="col align-self-start">
                          <div class="card mt-3">
                            <img src="images/paaayloooadeer.JPG" alt="paaayloooadeer" class="card-img-top">
                            <div class="card-body" style="background-color: #6D835C;">
                              <h4 class="card-title text-center text-light text-decoration-underline"><a href="/rel_btw_landUseChange" class="text-light"><em>The Relationship Between Land-use Change <br> And Urban Hydrology</em></a></h4>
                              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                              <p class="lead text-center text-light"><em> Defining land-use change and urban hydrology Land-use change refers to the human alteration of landscapes for various purposes, such as urban development, transportation, agriculture, and forestry. Urban hydrology, on the other hand, is the study of water movement, storage, and quality in urban areas, including the impacts...</em> </p>
                              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                              <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                            </div>
                          </div>
                        </div>
                        <div class="col align-self-start">
                          <div class="card mt-3">
                            <img src="images/sewerDrainage.JPG" alt="sewerDrainage" class="card-img-top">
                            <div class="card-body text-light" style="background-color: #6D835C;">
                              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/ensuringStormwater"><em>Ensuring Stormwater Drainage System Efficiency</em></a></h4>
                              <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                              <p class="lead text-center text-decoration-underline text-light"><em>Quality Control Measures In Nigerian Construction Projects</em></p>
                              <p class="lead text-center text-light"><em>In Nigeria, the increasing frequency of flooding and urban waterlogging underscores the critical need for effective stormwater drainage systems. These systems are essential for managing rainwater runoff, protecting infrastructure, and safeguarding public health. This article delves into the importance of quality control (QC).</em></p>
                              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                              <p class="lead text-center text-light"><a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
                            </div>
                          </div>       
                        </div>
                        <div class="container">
                          <div class="row">
                            <div class="col align-self-start">
                              <div class="card mt-3">
                                <img src="images/projectImage.JPG" alt="projectImage" class="card-img-top">
                                <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                                  <h4 class="card-title text-center text-light text-decoration-underline"><a href="/urgent_need_4_sustainable" class="text-light"><em>The Urgent Need For Sustainable Management Engineering Pracices</em></a></h4>
                                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                                  <p class="lead text-center pl-3 pr-3 text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br> on Thursday, 2nd Nov. 2023</em>
                                  </p>
                                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                  <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                                </div>
                              </div>     
                            </div>
                            <div class="col align-self-start">
                              <div class="card mt-3">
                                <img src="images/green-roof.png" alt="green-roof" class="card-img-top">
                                <div class="card-body lead text-light text-center" style="background-color: #6D835C;">
                                  <h4 class="card-title text-decoration-underline"><a class="text-light" href="/exampl_Sustainable"><em>Examples of Sustainable Stormwater Management Practices In Urban Areas</em></a></h4>
                                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                                  <p class="lead text-light text-center pr-3 pl-3"><em>Excerpt from, "Lecture Presentation To Nigerian Institute Of Civil <br>
                                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                                    on Thursday, 2nd Nov. 2023</em>
                                  </p>
                                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                  <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                                </div>
                              </div>
                            </div>
                            <div class="col align-self-start">
                              <div class="card mb-3 mt-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                                <img src="images/chalposeImg.jpg" alt="chalposeImg" class="card-img-top">
                                <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                                  <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_posed_by_trad_storm" class="text-light"><em>Challenges Posed By Traditional Storm Water Management Practices</em></a></h4>
                                  <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                                  <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                                    Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                                    on Thursday, 2nd Nov. 2023</em>
                                  </p>
                                  <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                  <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="container">
                            <div class="row">
                              <div class="col align-self-start">
                                <div class="card mt-3">
                                  <img src="images/evaluate.jpeg" alt="evaluate" class="card-img-top">
                                  <div class="card-body" style="background-color: #6D835C;">
                                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a></h4>
                                    <p class="lead text-center text-light"><em> Discover the effectiveness of existing drainage systems in Nigeria for managing rainwater runoff. This article explores the successes, challenges, and areas for improvement in mitigating flooding and ensuring efficient water management in Nigeria.</em></p>
                                    <p class="lead text-center text-light"><em>By,</em> <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                    <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                                  </div>
                                </div> 
                              </div>
                              <div class="col align-self-start">
                                <div class="card mt-3">
                                  <img src="images/projectImag.JPG" alt="projectImag" class="card-img-top">
                                  <div class="card-body" style="background-color: #6D835C;">
                                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/address_nig_wat_Pollution" class="text-light"><em>Addressing Nigeria's Water Pollution Crisis</em></a></h4>
                                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                                    <p class="lead text-center text-decoration-underline text-light"><em>Understanding the Environmental Challenge Water Pollution: A Major Crisis in Nigeria</em></p>
                                    <p class="lead text-center text-light"> <em>In Nigeria, the most populous country in Africa, is grappling with a severe environmental crisis – water pollution. Despite its wealth of water resources, including rivers, lakes, and underground aquifers, the nation struggles to provide its [...]</em>
                                    </p>
                                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                    <p class="lead text-center"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                                  </div>
                                </div> 
                              </div>
                              <div class="col align-self-start">
                                <div class="card mb-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                                  <img src="images/NavigatingImg.jpg" alt="NavigatingImg" class="card-img-top">
                                  <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/navigat_risk_flooding" class="text-light"><em>Navigating The Risk Of Floods: Civil Engineering Strategies For Managing Flood-Prone Areas</em></a></h4>
                                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                                    <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                                      Engineers (NICE), Asaba Chapter, <br> Delta State, Nigeria" <br>
                                      on Thursday, 2nd Nov. 2023</em>
                                    </p>
                                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                                    <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                                  </div>
                                </div>
                              </div>
                            </div>                                         
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>                 
                </div>       
                <hr>  
                <div class="container">
                  <h4 class="display-6 text-center pt-3 mb-2 text-decoration-underline text-light"><strong><em>Projects</em></strong></h4>
                  <p class="lead text-center text-light pr-4 pl-4"><em>At Jefcon &amp; Associates Ltd, we're proud to showcase our recent construction projects that demonstrate our expertise and commitment to 
                    delivering high-quality results. Below are some of our latest projects that highlight our capabilities in construction and stormwater management. <br>
                    These projects showcase our expertise in construction and stormwater management, and demonstrate our commitment to delivering high-quality results for
                    our clients. <br> Contact us to learn more about our services and how we can help with your next project. </em>
                    <span class="placeholder-glow">
                      <a class="btn btn-success text-light" style="background-color: #6D835C; border-color: #fff; border-radius: 10%;" href="/contact">&emsp;Contact us...</a>
                      </span>
                    </em>
                  </p>
                  <h4 class="display-6 text-center pl-4 pt-2 mb-4 text-decoration-underline text-light"><strong><em>Recent Projects</em></strong></h4>
                  <div class="row g-3">
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="card" style="background-color: #6D835C;">
                        <img src="images/Asaba-StormwaterProject.jpg" alt="Asaba-StormwaterProject" class="card-img-top">
                        <div class="card-body">
                          <h4 class="display-8 text-center text-decoration-underline text-light"><a class="text-light" href="/stormwater_project"><strong><em>Asaba Storm Water Control Project</em></strong></a></h4>
                          <hr>
                          <p class="lead text-start pl-1 pr-1 text-light"><i>▪</i>&emsp;
                            <em>Location:  Asaba, Delta State, &emsp; Nigeria. <br>
                            <i>▪</i>&emsp;Description: Asaba Storm Water Control Project. <br>
                            <i>▪</i>&emsp;Year: 2018-12-24. </em>
                          </p>
                          <hr>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="card" style="background-color: #6D835C;">
                        <img src="images/sochuk.JPG" alt="Dronee" class="card-img-top">
                        <div class="card-body">
                          <h4 class="display-8 text-center text-decoration-underline text-light"><a class="text-light" href="/droneProject"><strong><em>Drone Project</em></strong></a></h4>
                          <hr>
                          <p class="lead text-start pl-1 pr-1 text-light"><i>▪</i>&emsp;
                            <em>Location:  Asaba, Delta State, &emsp; Nigeria. <br>
                            <i>▪</i>&emsp;Description: Drone Project. <br>
                            <i>▪</i>&emsp;Year: 2022-06-14. </em>
                          </p>
                          <hr>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                      <div class="card" style="background-color: #6D835C;">
                        <img src="images/gallery1.jpg" alt="gallery1" class="card-img-top">
                        <div class="card-body">
                          <h4 class="display-8 text-center text-decoration-underline text-light"><a class="text-light" href="/gallery1_project"><strong><em>Gallery 1</em></strong></a></h4>
                          <hr>
                          <p class="lead text-start pl-1 pr-1 text-light"><i>▪</i>&emsp;
                            <em>Location:  Asaba, Delta State, &emsp; Nigeria. <br>
                            <i>▪</i>&emsp;Description: Gallery 1 Project. <br>
                            <i>▪</i>&emsp;Year: 2018-12-24. </em>
                          </p>
                          <hr>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
              </div>
            </div>
          </div>
        </div>
      </div>               
    </section>  
  <%- include('partials/footer') %>