<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<%- include('partials/navbar') %>
<div
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
<section class="featurette bg-primary"  style="background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; background-attachment: fixed;">
  <div class="container pt-2">
    <div class="row">
      <div class="col-sm-6 mb-sm-0">
        <div class="card mt-3" style="background-color: #6d835c">
          <img src="images/J4.jpg" alt="J4" />
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card mt-3" style="background-color: #6d835c">
          <h4
            class="display-6 lead text-light text-decoration-underline text-center pt-3"
            >
            <strong><em>About us</em></strong>
          </h4>
          <div class="card-body text-center">
            <p class="lead text-light pl-2"><b>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</p>
            <div class="row">
              <div class="col-sm-6 mb-sm-0">
                <div class="card" style="background-color: #6d835c">
                  <h4 class="card-title text-light text-center text-decoration-underline mt-2"><em>Related Contents</em></h4>
                  <div class="card-body pl-4 text-start text-light lead">
                    <div class="<ul class="list-unstyled> 
                      <li><a class="text-light" href="/commitment"><em>Commitments And Strategy</em></a></li>                          
                      <li><a class="text-light" href="/privacyPolicy"><em>Privacy Policy</em></a></li>
                      </ul>          
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>                     
        </div>
      </div>
    </div>
    <h4 class="display-6 text-decoration-underline text-center pt-5 text-light">Team Members</h4>
    <div class="container">
      <div class="row g-3">
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="background-color: #6d835c";>
            <p><img src="images/john cee.JPG" alt="john cee" class="card-img-top"></p>
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR, JOHN-CEE ONWUALU, JP</strong></em></h4>
              <p class="lead text-light text-decoration-underline"><em>(FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/Jefcon_more" title="ENGR. JOHN-CEE ONWUALU">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card mb-3" style="background-color: #6d835c";>
            <img src="images/chuka.JPG" alt="chuka" class="card-img-top">
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><em><strong>ENGR. CHUKA JOHN ONWUALU </strong></em></h4>
              <p class="lead text-decoration-underline"><em>(B.Eng.-Civil; M.Eng.- Civil (Water Resources option), FNSE, FNWE, FNICE, MASCE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. CHUKA JOHN ONWUALU">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>    
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <div class="card" style="background-color: #6d835c";>
            <img src="images/engr_joel.jpeg" alt="engr_joel"  class="card-img-top"width="424" height="375">
            <div class="card-body text-light text-center">
              <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. JOEL OJO ANAKO</em></strong></h4>
              <p class="lead text-decoration-underline"><em>(B.Eng. Civil; M.Eng. Structural, MNSE, COREN)</em></p>
              <span class="card-text placeholder-glow">              
                <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. JOEL OJO ANAKO">Read More</a>
              </span>        
              <span class="placeholder col-6"></span>             
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row g-3">
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/Ugochukwu.png " alt="Ugochukwu" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>ENGR. FRANCIS UGOCHUKWU ONWUALU</em></strong></h4>
                  <p class="lead text-decoration-underline"><em>(B.Sc. – Mechanical Engineering, MNSE)</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. FRANCIS UGOCHUKWU ONWUALU">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>     
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card mb-3" style="background-color: #6d835c";>
                <img src="images/staff2.JPG" alt="chuka" class="card-img-top">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>ENGR. PROF. HILARY IJEOMA OWAMAH</em> </strong></h4>
                  <p class="lead text-decoration-underline"><em>(Ph.D. Civil Engineering (Water Resources & Environmental); M.Eng. (Environmental Engineering). B.Eng. (Soil Water Engineering Technology, FNSE, FNICE, FNIWE))</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. PROF. HILARY IJEOMA OWAMAH">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>    
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <div class="card" style="background-color: #6d835c";>
                <img src="images/staff3.JPG" alt="staff3"  class="card-img-top"width="424" height="375">
                <div class="card-body text-light text-center">
                  <h4 class="display-8 text-center text-light text-decoration-underline"><strong><em>MR. ANTHONY IFEANYI UZOGO</em></strong></h4>
                  <p class="lead text-decoration-underline"><em>(BPA, MPA- (Public Admin) MSM, MCIPM/HRPL HEAD, HR/ADMINISTRATION)</em></p>
                  <span class="card-text placeholder-glow">              
                    <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. ANTHONY IFEANYI UZOGO">Read More</a>
                  </span>        
                  <span class="placeholder col-6"></span>             
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/sochukwu.png" alt="sochukwu" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>ENGR. AUGUSTINE SOCHUKWU EGBUNE</em></strong></h4>
                      <p class="lead text-decoration-underline"><em><em>(B.Eng.-Electrical; M.Eng. – Power Ph.D. in-view MNSE, COREN)</em> </em></p>           
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. AUGUSTINE SOCHUKWU EGBUNE">Read More</a>
                      </span>        
                    <span class="placeholder col-6"></span>        
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card" style="background-color: #6d835c";>
                  <img src="images/engr2.JPG" alt="engr2" class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>SURV. CHIKA VINCENT OKOROCHA</em></strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Tech, MSc. in Surveying Geoinformatics, PMP (Reg Surveyor) Certified Project Manager and currently a Ph. D in-view in Geomatic Engineering)</em></p>
                    <span class="card-text placeholder-glow">              
                      <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. CHIKA VINCENT OKOROCHA">Read More</a>
                    </span>        
                    <span class="placeholder col-6"></span>          
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3" style="background-color: #6d835c";>
                  <img src="images/mr-uchechukwu.jpeg" alt="mr-uchechukwu" class="card-img-top">
                  <div class="card-body text-light text-center">
                    <h4 class="display-8 text-center mt-3 text-decoration-underline text-light"><strong><em>ENGR. UCHECHUKWU IHUNWEZE</em></strong></h4>
                    <p class="lead text-decoration-underline"><em>(B.Eng. in Civil, MSc. Water Resources Engineering and Management, FNSE, FNIWE, CEM, AEE, CAE)</em></p>
                    <span class="card-text placeholder-glow">              
                      <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. UCHECHUKWU IHUNWEZE">Read More</a>
                    </span>        
                    <span class="placeholder col-6"></span>       
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/ENGR-VICTORY.jpeg" alt="ENGR-VICTORY" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 pb-2 text-light"><strong><em>MISS. VICTORY ODINAKA</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS. VICTORY ODINAKA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>        
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <p><img src="images/architect ayibuofu.png" alt="architect ayibuofu" class="card-img-top"></p>
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light text-decoration-underline "><strong><em>ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU</em></strong></h4>
                      <p class="lead text-decoration-underline"><em>(ARCON, NIA)</em></p>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ARC.AYIBUOFU-UWANDI CHIEDU UCHECHUKWU">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>           
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/staff7.JPG" alt="staff2" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong> <em>MISS EUNICE OKONDOR</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS EUNICE OKONDOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>    
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/cous.JPG" alt="cous" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>SURV. IK. J. EMORDI</em></strong></h4>                              
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. IK. J. EMORDI">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/engr-oscar.jpeg" alt="engr" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><em><strong>MR. OSCAR C. OGUDE</strong></em></h4>       
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. OSCAR C. OGUDE">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/SurvAnyimImg.png" alt="SurvAnyimImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>SURV. JUSTICE U. ANYIM</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="SURV. JUSTICE U. ANYIM">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
              </div> 
            </div>                        
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/Engr Temitope.jpeg" alt="UzomaImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR. TEMITOPE JOSHUA OLORUNTOKE</em></strong></h4>                               
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. TEMITOPE JOSHUA OLORUNTOKE">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/staff.JPG" alt="staff" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><em><strong>MISS. ENDURANCE EJEMAH</strong></em></h4>       
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MISS. ENDURANCE EJEMAH">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                  <img src="images/Arch.EsonorImg.png" alt="Arch.EsonorImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>ARCH. C. ESONOR</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ARCH. C. ESONOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
              </div>           
            </div>              
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/UgbodumeImg.jpeg" alt="UgbodumeImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR. UGBODUME JOSEPH AKPOWOWO</em></strong></h4>                             
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. UGBODUME JOSEPH AKPOWOWO">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>  
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/EngrOkaforImg.png" alt="EngrOkaforImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>ENGR. FIDELIS O. OKAFOR</em></strong></h4>     
                      <span class="card-text placeholder-glow">  
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="ENGR. UFIDELIS OKAFOR">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>       
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4" >
                  <div class="card mb-3" style="background-color: #6d835c;">
                    <img src="images/NewEngrImg.png" alt="NewEngrImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>MR. OBARO ORORHO</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. OBARO ORORHO">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>
              </div> 
            </div>
            <div class="container">
              <div class="row g-3">
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/OsyEmordi.JPG" alt="OsyEmordi" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline pb-2 mt-3 text-light"><strong><em>MR, OSITA J. EMORDI</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR, OSITA J. EMORDI">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>     
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/ChukwumaImg.png" alt="ChukwumaImg" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-light pb-2 text-decoration-underline"><strong><em>MR, CHUKWUMA ONWUALU</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR, CHUKWUMA ONWUALU">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>          
                    </div>
                  </div>        
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <div class="card" style="background-color: #6d835c";>
                    <img src="images/UzomaImg.png" alt="UzomaImg" width="424" height="375" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center text-decoration-underline mt-3 text-light"><strong><em>MR. UZOMA CHUKWUEMEKA</em></strong></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/contact_notfound" title="MR. UZOMA CHUKWUEMEKA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>
              </div>
              <div class="container" style="height:50%; width : 50%;">
                <div class="row g-3" >
                  <div class="col-12 col-md-6 col-lg-4">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/KINGSVIEWiMG.png" alt="KINGSVIEWiMG" class="card-img-top">
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>DEPROF</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/deprof_archive" title="DEPROF">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>
                </div>   
                <div class="col-12 col-md-6 col-lg-4" style="height:50%; width : 50%;">
                  <div class="card mb-3" style="background-color: #6d835c";>
                    <img src="images/abdulllImg.jpg" alt="abdulllImg" class="card-img-top" >
                    <div class="card-body text-light text-center">
                      <h4 class="display-8 text-center pb-2 mt-3 text-light text-decoration-underline"><strong><em>MR. ABDUL M. YAHAYA</em></strong><em></em></h4>
                      <span class="card-text placeholder-glow">              
                        <a class="btn btn-success text-success" style="background-color: #fff"; target="team" href="/abdul_yahaya_Archive" title="MR. ABDUL M. YAHAYA">Read More</a>
                      </span>        
                      <span class="placeholder col-6"></span>   
                    </div>
                  </div>                 
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h4 class="text-light text-center text-decoration-underline pl-3 mt-5"><em>Related Blog Posts Based On Page Title</em></h4>
    <div class="container mt-3">
      <div class="row">
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/AccessingQualImg.jpg" alt="AccessingQualImg" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/accessin_qual_engPract"><em>Assessing Quality Civil Engineering <br> Practices In Nigeria</em></a></h4>
              <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN) </em></p>
              <p class="lead text-light text-center"><em>The quality of Civil Engineering practices in Nigeria has become an increasingly important priority in recent years. As the country continues to grow and change, it is important that these practice s meet the standards of a modern, wealthy country. Assessing the quality of Civil Engineering practices in Nigera is [...]</em></a>
              </p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
            </div>
          </div>
        </div>
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/RecomendImg.jpg" alt="RecomendImg" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/recommend_stormWater"><em>Recommendations For Stormwater <br> Management And Control</em></a></h4>
              <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN) </em></p>
              <p class="lead text-light text-center"><em>Excerpts from Presentation at Nigerian Society of Engineers, Asaba Chapter Technical Section of Study &amp; Design of Stormwater Management And Control </em></a>
              </p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<%- include('partials/footer') %>
