<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
 />
 <%- include('partials/navbar') %>
 <section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
    no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-sm-0">
      <div class="card mb-3" style="background-color: #6d835c">
        <img src="images/TributoryImg.png" alt="TributoryImg">
      </div> 
      <h4
        class="display-6 text-center text-decoration-underline text-light"
        >
        <em>Tributaries to the River Niger <br> Within Asaba, Delta <br> State, Nigeria</em>
      </h4>
      <p class="text-center text-decoration-underline lead text-light"><em>By, Engr John Cee Onwualu, JP (FNSE, <br> FNICE, FNIWE, P.E.,
        R.ENG, MASCE, COREN)</em>
      </p>
      <div class="content text-center pl-5">
        <span style="display: flex; align-content: flex-start;"
          ><a
            href="/archives_2021_may"
            class="btn btn-success text-light"
            style="border-color: #fff; background-color: #6d835c"
          >
            Posted on 26 May 2021 - 11:01 am
          <a
            class="btn btn-success text-light"
            href="/deprof_archive"
            style="
            text-decoration: none;
            background-color: #6d835c;
            border-color: #fff;
            "
          ><em>By, DEPROF</em></a
          ></a
          >
        </span>
      </div>      
      <hr>
      <div class="card text-center lead pr-4 pl-4 text-light " style="background-color: #6d835c">
        <p class="mt-3"><em>Asaba is situated at the western bank of River Niger, overlooking the point where the Anambra River flows into it.  It is sandwiched between Anwai in the North, Issele-Azagba in the West, Ibusa in the South, and River Niger in the East. <br>The eastern axis of the territory is marked with low relief that falls to about 22 metres above mean sea level, while the western axis shows the features of high relief that rises to about 175 metres above mean sea level. <br>The 2006 census shows that Asaba had a population of 149,603. &nbsp;Asaba has a large population of Igbo-speaking people, but her position as Delta State Capital has brought her a cosmopolitan population drawn from other ethnic nationalities such as Urhobo, Isoko, Ijaw, Itsekiri, Hausa and Yoruba people, etc. <br>Its geographical location lies between latitude 06<sup>0</sup> 15’ 17.84” N and 06<sup>0</sup> 09’ 38.49” N and longitude 06<sup>0</sup> 36’ 23.48” and 06<sup>0</sup> 45’ 13.35” E as shown in <em>Figure 1</em>.&nbsp; Asaba lies in a plain between 88m to 41m, and about sixty-five percent (65%) within this plain is sitting in a flat terrain, which is between 44m &#8211; 41m. <br>There are some nature-based drainage routes that are tributaries to River Niger within Asaba, such as Iyi-Abi that is in the South, and Anwai River in the North-East.&nbsp; The project section covers only an area of about 8,521.24 hectares (85.212-sqkm).</em></p>
        <footer class="entry-meta">
          <hr>
          <em>This entry was posted in - <a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a> <br> and tagged - <a class="text-light" href="https://jefconassociates.com/blog/tag/asabadrainage/" rel="tag">#asabadrainage</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainage/" rel="tag">#drainage</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagebasin/" rel="tag">#drainagebasin</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagebresilien/" rel="tag">#drainagebresilien</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagecell/" rel="tag">#drainagecell</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagechannel/" rel="tag">#drainagechannel</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagechannels/" rel="tag">#drainagechannels</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagecontractor/" rel="tag">#drainagecontractor</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagecover/" rel="tag">#drainagecover</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagedesign/" rel="tag">#drainagedesign</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageditch/" rel="tag">#drainageditch</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageengineer/" rel="tag">#drainageengineer</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageholes/" rel="tag">#drainageholes</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageissues/" rel="tag">#drainageissues</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagelife/" rel="tag">#drainagelife</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageline/" rel="tag">#drainageline</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagepathways/" rel="tag">#drainagepathways</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagepipe/" rel="tag">#drainagepipe</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagepipes/" rel="tag">#drainagepipes</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageproblems/" rel="tag">#drainageproblems</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageproducts/" rel="tag">#drainageproducts</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageproject/" rel="tag">#drainageproject</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagesolution/" rel="tag">#drainagesolution</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagesolutions/" rel="tag">#drainagesolutions</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagespecialists/" rel="tag">#drainagespecialists</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagesystem/" rel="tag">#drainagesystem</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagesystems/" rel="tag">#drainagesystems</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagetile/" rel="tag">#drainagetile</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagevisage/" rel="tag">#drainagevisage</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainagework/" rel="tag">#drainagework</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/drainageworks/" rel="tag">#drainageworks</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/deltadrainage/" rel="tag">#deltadrainage</a>, <a class="text-light" href="https://jefconassociates.com/blog/tag/nigeriadrainage/" rel="tag">#nigeriadrainage</a>
          <br> By, <a class="text-light" href="/deprof_archive">DEPROF</a>. 
          <br>
          <div id="comments-title"> 
            <hr> Bookmark the <a class="text-light" href="/tributaries_RivrNiger" title="Permalink to Recommended Actions for a Young Engineer-2 By, Engr. John Cee Onwualu , JP" rel="bookmark">Permalink</a>.</em>
            <hr>
            <h4 style="font-weight: 300; text-decoration: underline;">
              <em>One Reply to &ldquo;Tributaries To The River Niger Within Asaba, Delta State, Nigeria <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE,FNIWE, P.E.,R.ENG, MASCE., COREN) </em>
            </h4>
            <ul class="commentlist">
              <li class="post pingback">
                <p> <em>Pingback:&emsp;<a class="text-light" href="https://kingsviewbooks611054468.wordpress.com/2021/05/26/tributaries-to-the-river-niger-within-asaba/" class="url" rel="ugc external nofollow">Tributaries to the River Niger Within Asaba. KINGS VIEW BOOKS</a></em></p>
              </li>
            </ul>
          </div>
          <hr>
          <h4 class="pt-3 text-decoration-underline text-center"><b><em>No comments yet!</em></b></h4>
          <div id="respond" class="comment-respond">
            <h3 id="reply-title" class="comment-reply-title"></h3><p class="must-log-in lead text-center"><em>You must be</em> <a class="text-light" href="https://jefconassociates.com/wp-login.php?redirect_to=https%3A%2F%2Fjefconassociates.com%2Fblog%2F2024%2F07%2F29%2Fbest-practices-for-concrete-work-in-stormwater-drainage-quality-control-for-durability-in-nigerian-climates-by-john-cee-onwualu-fnse-fnice-fniwe-p-e-r-eng-masce%2F"><em>logged in</em></a> to post a comment.</p>
          </div>
          <hr>   
        </footer>
        <div class="row">
          <div class="col-lg-6">
            <div class="card" style="background-color: #6d835c">
              <div class="card-body">
                <h4 class="text-light mt-3 text-decoration-underline text-center">
                  <strong><em>Popular Tags</em></strong>
                </h4>
                <div class="row">
                  <div class="col-sm-6 mb-sm-0 text-start">
                    <ul style="display: inline-block;">
                      <a class="lead text-light" href="/tag_drainageChannels"><em>#drainagechannel(2)</em></a><br>
                      <a class="lead text-light" href="/tag_floodwatercontrol"><em>#flood-water-control(3)</em></a><br>
                      <a class="lead text-light" href="/tag_stormwater"><em>#stormwater(3)</em></a><br>
                      <a class="lead text-light" href="/tag_stormwatermanagement"><em>#storm-water-management(5)</em></a><br>
                      <a class="lead text-light" href="/tag_civilengineering"><em>#civilengineering(3)</em></a><br>
                      <a class="lead text-light" href="/tag_complexengineerprob"><em>#complex-engineering-problems(2)</em></a><br>
                      <a class="lead text-light" href="/tag_construction"><em>#construction(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainage"><em>#drainage(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagebasin"><em>#drainagebasin(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagebresilien"><em>#drainagebresilien(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagecell"><em>#drainagecell(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagechannel"><em>#drainagechannel(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagecontractor"><em>#drainagecontractor(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagecover"><em>#drainagecover(3)</em></a>  <br> 
                      <a class="lead text-light" href="/tag_drainagedesign"><em>#drainagedesign(6)</em></a> <br>  
                      <a class="lead text-light" href="/tag_drainageditch"><em>#drainageditch(3)</em></a> <br> 
                      <a class="lead text-light" href="/tag_drainageengineer"><em>#drainageengineer(6)</em></a> <br>  
                      <a class="lead text-light" href="/tag_drainagehole"><em>#drainageholes(3)</em></a> <br>
                      <a class="lead text-light" href="/tag_drainageissues"><em>#drainageissues(3)</em></a> <br>
                      <a class="lead text-light" href="/tag_drainagelife"><em>#drainagelife(3)</em></a> <br>
                      <a class="lead text-light" href="/tag_drainageline"><em>#drainageline(3)</em></a> <br>
                      <a class="lead text-light" href="/tag_drainagepathway"><em>#drainagepathways(3</em>)</a> <br>  
                      <a class="lead text-light" href="/tag_drainagepipe"><em>#drainagepipe(3)</em></a>   
                    </ul>
                  </div>
                  <div class="col-sm-6 mb-sm-0 text-start">
                    <ul style="display: inline-block;">
                      <a class="lead text-light" href="/tag_drainagepipes"><em>#drainagepipes(3)</em></a> <br>  
                      <a class="lead text-light" href="/tag_drainageproblems"><em>#drainageproblems(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainageproducts"><em>#drainageproducts(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainageproject"><em>#drainageproject(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagesolution"><em>#drainagesolution(6)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagesolutions"><em>#drainagesolutions(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagespecialists"><em>#drainagespecialists(6)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagesystem"><em>#drainagesystem(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagesystems"><em>#drainagesystems(4)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagetile"><em>#drainagetile(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagevisage"><em>drainagevisage(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainagework"><em>#drainagework(3)</em></a><br>
                      <a class="lead text-light" href="/tag_drainageworks"><em>#drainageworks(3)</em></a><br> 
                      <a class="lead text-light" href="/tag_engineeringfundamentals"><em>#engineering-fundamentals(2)</em></a> <br> 
                      <a class="lead text-light" href="/tag_engineeringpractices"><em>#engineeringpractices(3)</em></a> <br> 
                      <a class="lead text-light" href="/tag_Nigeria"><em>#Nigeria(3)</em></a> <br> 
                      <a class="lead text-light" href="/tag_qualityEngProducts"><em>#quality-of-engineering-products(2)</em></a> <br> 
                      <a class="lead text-light" href="/tag_stormwaterdrainage"><em>#storm-water-drainage(3)</em></a> <br> 
                      <a class="lead text-light" href="/tag_storm_water_managemt"><em>stormwater-management(5)</em></a> <br> 
                      <a class="lead text-light" href="/tag_sustainStormwatmanage"><em>#sustainable-storm-water-management(3)</em></a> <br> 
                      <a class="lead text-light" href="/tag_youngengineer"><em>#youngengineer(2)</em></a> 
                    </ul>
                  </div>
                </div>  
              </div>
            </div>
          </div>
        </div>   
      </div>                
    </div>    
    <div class="col-sm-6">
      <div class="card" style="background-color: #6d835c">
        <h4
          class="display-6 lead text-light mt-3 text-decoration-underline text-center"
        >
          <strong><em>About us</em></strong>
        </h4>
        <div class="card-body text-center">
          <p class="lead text-light"><b>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</p>
          <div class="row">
            <div class="col-sm-6 mb-sm-0">
              <div class="card" style="background-color: #6d835c">
                <h4 class="text-light text-center text-decoration-underline pt-3"><em>Recent Posts</em></h4>
                <div class="card-body text-start text-light lead">
                  <div class="<ul class="list-unstyled> 
                    <li><a class="text-light" href="/archives_2025_june" style="text-decoration: none;"><em>June 2025</em></a><br><a href="/preventing_stormwater" class="text-light"><em>Preventing Stormwater Pollution: Implementing Effective QC For Drainage Systems In Nigeria <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2025_april" style="text-decoration: none;"><em>April 2025</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG., MASCE, COREN)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_july"><em>July 2024</em></a><br><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: Quality Control For Durability In Nigerian Climates <br> By, John Cee Onwualu JP (FNSE, FNICE, FNIWE, P.E., R.ENG. MASCE)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_june"><em>June 2024</em></a><br><a href="/ensuringStormwater" class="text-light"><em>Ensuring Stormwater Drainage System Efficiency: Quality Control Measures In Nigerian Construction Projects <br>  By, John Cee Onwualu JP (FNSE, FNICE, FNIWE, P.E., R.ENG. MASCE)</em></a></li>
                    <li class="pt-2"><a class="text-light" href="/archives_2024_may"><em>May 2024</em></a><br><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges Of Stormwater Management In Urban Areas Of Nigeria: A Critical Analysis</em></a> </li>                      
                    <li class="pt-2"><a class="text-light"  href="/archives_2024_april"><em>April 2024</em></a><br><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a> </li></ul>          
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card text-light lead" style="background-color: #6d835c">
            <h4 class="text-light text-decoration-underline text-center mt-2"><em>Categories</em></h4>
              <div class="card-body text-start text-light lead">
                <div class="<ul class="list-unstyled> 
                  <a class="text-light pl-3" href="/case_studies" style="text-decoration: none;"><em>Case Studies</em></a><br>                         
                  <a class="text-light pl-3" href="/construction_law" style="text-decoration: none;"><em>Construction Law</em></a> <br>                        
                  <a class="text-light pl-3" href="/construction_technology" style="text-decoration: none;"><em>Construction Technology</em></a><br>                         
                  <a class="text-light pl-3" href="/consultancy_advisory" style="text-decoration: none;"><em>Consultancy And Advisory Services</em></a><br>                        
                  <a class="text-light pl-3" href="/engDesign_simulation" style="text-decoration: none;"><em>Engineering Design And Simulation</em></a><br>                       
                  <a class="text-light pl-3" href="/category_eng_surveys" style="text-decoration: none;"><em>Engineering Surveys</em></a><br>                       
                  <a class="text-light pl-3" href="/cat_environmental" style="text-decoration: none;"><em>Environmental</em></a><br>                       
                  <a class="text-light pl-3" href="/cat_feasibility_Eco" style="text-decoration: none;"><em>Feasibility And Economic Studies</em></a><br>
                  <a class="text-light pl-3" href="/industryNews_trend" style="text-decoration: none;"><em>Industry News And Trends</em></a><br>
                  <a class="text-light pl-3" href="/innovation_research" style="text-decoration: none;"><em>Innovation And Research</em></a><br>
                  <a class="text-light pl-3" href="/mech_elec_Plumbing" style="text-decoration: none;"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                  <a class="text-light pl-3" href="/pro_superv_cat" style="text-decoration: none;"><em>Project Supervision And Management</em></a><br>
                  <a class="text-light pl-3" href="/proj_valuation_cost" style="text-decoration: none;"><em>Project Valuation And Cost Control</em></a><br>
                  <a class="text-light pl-3" href="/safety_regulations" style="text-decoration: none;"><em>Safety And Regulations</em></a><br>
                  <a class="text-light pl-3" href="/training_education" style="text-decoration: none;"><em>Training And Education</em></a><br>
                  <a class="text-light pl-3" href="/uncategorized" style="text-decoration: none;"><em>Uncategorized</em></a><br>
                  <span class="pl-3">
                    <a class="btn btn-success text-success mt-2 pr-3" style="background-color: #fff;;"  href="/blogs"><em>More ⇥</em></a>                      
                  </span>
                </div>
              </div>
            </div>                 
            <div class="card" style="background-color: #6D835C";> 
              <h4
                class="text-light pt-3 text-decoration-underline text-center"
              >
                <strong><em>Jefcon Blog Post</em></strong>
              </h4>
              <div class="row">
                <div class="col-sm-6 mb-sm-0 text-start">
                  <ul style="display: inline-block;">
                    <a class="lead text-light" href="/case_studies"><em>Case Studies</em></a><br>
                    <a class="lead text-light" href="/construction_law"><em>Construction Law</em></a><br>
                    <a class="lead text-light" href="/construction_technology"><em>Construction Technology</em></a><br>
                    <a class="lead text-light" href="/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>
                    <a class="lead text-light" href="/engDesign_simulation"><em>Engineering Design And Simulation</em></a><br>
                    <a class="lead text-light" href="/category_eng_surveys"><em>Engineering Surveys</em></a><br>
                    <a class="lead text-light" href="/cat_environmental"><em>Environmental</em></a><br>
                    <a class="lead text-light" href="/cat_feasibility_Eco"><em>Feasibility And Economic Studies</em></a><br>
                    <a class="lead text-light" href="/industryNews_trend"><em>Industry News And Trends</em></a><br>
                    <a class="lead text-light" href="/innovation_research"><em>Innovation And Research</em></a><br>
                    <a class="lead text-light" href="/mech_elec_Plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                    <a class="lead text-light" href="/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                    <a class="lead text-light" href="/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                    <a class="lead text-light" href="/safety_regulations"><em>Safety And Regulations</em></a><br>
                    <a class="lead text-light" href="/training_education"><em>Training And Education</em></a><br>
                    <a class="lead text-light" href="/uncategorized"><em>Uncategorized</em></a> 
                  </ul>
                </div>
                <div class="col-sm-6 mb-sm-0 text-start">
                  <ul style="display: inline-block;">
                    <a class="lead text-light" href="/archives_2025_june"><em>June 2025</em></a><br>
                    <a class="lead text-light" href="/archives_2025_april"><em>April 2025</em></a><br>
                    <a class="lead text-light" href="/archives_2024_july"><em>July 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_june"><em>June 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_may"><em>May 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_april"><em>April 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_march"><em>March 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_feb"><em>February 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2024_jan"><em>January 2024</em></a><br>
                    <a class="lead text-light" href="/archives_2023_dec"><em>December 2023</em></a><br>
                    <a class="lead text-light" href="/archives_2023_nov"><em>November 2023</em></a><br>
                    <a class="lead text-light" href="/archives_2023_oct"><em>October 2023</em></a><br>
                    <a class="lead text-light" href="/archives_2023_march"><em>March 2023</em></a><br>
                    <a class="lead text-light" href="/archives_2023_feb"><em>February 2023</em></a> <br> 
                    <a class="lead text-light" href="/archives_2023_jan"><em>January 2023</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_dec"><em>December 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_nov"><em>November 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_oct"><em>October 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_sept"><em>September 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_august"><em>August 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_july"><em>July 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_may"><em>May 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_april"><em>April 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_march"><em>March 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_feb"><em>February 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2022_jan"><em>January 2022</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_dec"><em>December 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_nov"><em>November 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_august"><em>August 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_june"><em>June 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_may"><em>May 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_april"><em>April 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2021_jan"><em>January 2021</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_nov"><em>November 2020</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_oct"><em>October 2020</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_sept"><em>September 2020</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_august"><em>August 2020</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_july"><em>July 2020</em></a> <br> 
                    <a class="lead text-light" href="/archives_2020_may"><em>May 2020</em></a> 
                  </ul>
                </div>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body text-center" style="background-color: #6D835C;">
                <p style="width: 100%; height: 100%;"><a class="text-light" href="/global_warming" class="text-light" style="text-decoration: none;"><i>←&emsp;</i></a>
                  <span class="text-start lead"><a class="text-light" href="/global_warming"><em>Flooding: A Global Warming Aftermath<br>By, Engr., John Cee Onwualu, JP (FNSE, FNICE, <br> FNIWE, P.E.,
                  R.ENG, MASCE., COREN)</em></a><a class="next-post btn btn-lg btn-outline-secondary" href="/global_warming" title="Flooding: A Global Warming Aftermath"></a></span>
                  <a class="next-post btn btn-lg btn-outline-light" href="/global_warming" title="Flooding: A Global Warming Aftermath">
                  <span class="arrow">&rarr;</span>
                  </a>
                </p>
              </div>
            </div>
            <div class="card mt-3">
              <div class="card-body text-center" style="background-color: #6D835C;">
                <p style="width: 100%; height: 100%;"><a href="/oilHubs_delta" class="text-light" style="text-decoration: none;"><i>←&emsp;</i></a>
                  <span class="text-start lead"><a class="text-light" href="/oilHubs_delta"><em>Oil Hubs in Delta State, Nigeria <br>By, Engr., John Cee Onwualu, JP (FNSE, FNICE, <br> FNIWE, P.E.,
                  R.ENG, MASCE., COREN)</em></a><a class="next-post btn btn-lg btn-outline-secondary" href="/oilHubs_delta" title="Oil Hubs in Delta State, Nigeria"></a></span>
                  <a class="next-post btn btn-lg btn-outline-light" href="/oilHubs_delta" title="Oil Hubs in Delta State, Nigeria">
                  <span class="arrow">&rarr;</span>
                  </a>
                </p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </div>
  </div>       
</section>
<%- include('partials/footer') %>
