<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<%- include('partials/navbar') %>
<section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
<div class="container">
  <div class="row">
    <div class="col-sm-6 mb-sm-0">
      <div class="card mb-3" style="background-color: #6d835c">
        <img src="images/VisionStatement.jpg" alt="VisionStatement" />
      </div>
      <h5
        class="display-6 mb-md-2 mt-5 text-center mb-3 pb-3 text-decoration-underline text-light"
        >
        <em>Vision Statement</em>
      </h5>
      <div class="container mt-3">
        <div class="row">
          <div class="col-sm-6 mb-sm-0">
            <div class="card mb-3" style="background-color: #6d835c">
              <div class="card-body text-center">
                <span class="text-light lead"><em> Our vision is to provide sustainable engineering solutions to problematic environmental issues inorder to improve people's quality of life.</em>
                </span>
              </div>
            </div>
            <div class="card mb-3" style="background-color: #6d835c">
              <h4 class="card-title text-center text-light text-decoration-underline pl-3 mt-2"><em>Related Content</em></h4>
              <div class="card-body pl-4 text-light lead">
                <div class="<ul class="list-unstyled> 
                  <li><a class="text-light" href="/business_concept"><em>Business Concepts</em></a></li>                         
                  <li><a class="text-light" href="/business_strategy"><em>Business Strategy</em></a></li>                         
                  <li><a class="text-light" href="/capacity_building"><em>Capacity Building</em></a></li>                         
                  <li><a class="text-light" href="/mission_statement"><em>Mission Statement</em></a></li>                         
                  <li><a class="text-light" href="/our_values"><em>Our values</em></a></li>                         
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="background-color: #6d835c">
        <div class="card-body">
          <h4 class="display-8 text-light mt-3 text-decoration-underline text-center">
            <strong><em>Popular Tags</em></strong>
          </h4>
          <div class="row">
            <div class="col-sm-6 mb-sm-0 text-start">
              <ul style="display: inline-block;">
                <a class="lead text-light" href="/tag_drainageChannels"><em>#drainagechannel(2)</em></a><br>
                <a class="lead text-light" href="/tag_floodwatercontrol"><em>#flood-water-control(3)</em></a><br>
                <a class="lead text-light" href="/tag_stormwater"><em>#stormwater(3)</em></a><br>
                <a class="lead text-light" href="/tag_stormwatermanagement"><em>#storm-water-management(5)</em></a><br>
                <a class="lead text-light" href="/tag_civilengineering"><em>#civilengineering(3)</em></a><br>
                <a class="lead text-light" href="/tag_complexengineerprob"><em>#complex-engineering-problems(2)</em></a><br>
                <a class="lead text-light" href="/tag_construction"><em>#construction(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainage"><em>#drainage(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagebasin"><em>#drainagebasin(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagebresilien"><em>#drainagebresilien(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagecell"><em>#drainagecell(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagechannel"><em>#drainagechannel(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagecontractor"><em>#drainagecontractor(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagecover"><em>#drainagecover(3)</em></a>  <br> 
                <a class="lead text-light" href="/tag_drainagedesign"><em>#drainagedesign(6)</em></a> <br>  
                <a class="lead text-light" href="/tag_drainageditch"><em>#drainageditch(3)</em></a> <br> 
                <a class="lead text-light" href="/tag_drainageengineer"><em>#drainageengineer(6)</em></a> <br>  
                <a class="lead text-light" href="/tag_drainagehole"><em>#drainageholes(3)</em></a> <br>
                <a class="lead text-light" href="/tag_drainageissues"><em>#drainageissues(3)</em></a> <br>
                <a class="lead text-light" href="/tag_drainagelife"><em>#drainagelife(3)</em></a> <br>
                <a class="lead text-light" href="/tag_drainageline"><em>#drainageline(3)</em></a> <br>
                <a class="lead text-light" href="/tag_drainagepathway"><em>#drainagepathways(3</em>)</a> <br>  
                <a class="lead text-light" href="/tag_drainagepipe"><em>#drainagepipe(3)</em></a>   
              </ul>
            </div>
            <div class="col-sm-6 mb-sm-0 text-start">
              <ul style="display: inline-block;">
                <a class="lead text-light" href="/tag_drainagepipes"><em>#drainagepipes(3)</em></a> <br>  
                <a class="lead text-light" href="/tag_drainageproblems"><em>#drainageproblems(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainageproducts"><em>#drainageproducts(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainageproject"><em>#drainageproject(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagesolution"><em>#drainagesolution(6)</em></a><br>
                <a class="lead text-light" href="/tag_drainagesolutions"><em>#drainagesolutions(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagespecialists"><em>#drainagespecialists(6)</em></a><br>
                <a class="lead text-light" href="/tag_drainagesystem"><em>#drainagesystem(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagesystems"><em>#drainagesystems(4)</em></a><br>
                <a class="lead text-light" href="/tag_drainagetile"><em>#drainagetile(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagevisage"><em>drainagevisage(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainagework"><em>#drainagework(3)</em></a><br>
                <a class="lead text-light" href="/tag_drainageworks"><em>#drainageworks(3)</em></a><br> 
                <a class="lead text-light" href="/tag_engineeringfundamentals"><em>#engineering-fundamentals(2)</em></a> <br> 
                <a class="lead text-light" href="/tag_engineeringpractices"><em>#engineeringpractices(3)</em></a> <br> 
                <a class="lead text-light" href="/tag_Nigeria"><em>#Nigeria(3)</em></a> <br> 
                <a class="lead text-light" href="/tag_qualityEngProducts"><em>#quality-of-engineering-products(2)</em></a> <br> 
                <a class="lead text-light" href="/tag_stormwaterdrainage"><em>#storm-water-drainage(3)</em></a> <br> 
                <a class="lead text-light" href="/tag_storm_water_managemt"><em>stormwater-management(5)</em></a> <br> 
                <a class="lead text-light" href="/tag_sustainStormwatmanage"><em>#sustainable-storm-water-management(3)</em></a> <br> 
                <a class="lead text-light" href="/tag_youngengineer"><em>#youngengineer(2)</em></a> 
              </ul>
            </div>
          </div>  
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="background-color: #6d835c">
        <h4
          class="display-6 lead text-light mt-3 text-decoration-underline text-center"
        >
          <strong><em>About us</em></strong>
        </h4>
        <div class="card-body text-center">
          <p class="lead text-light"><b><em>Jefcon & Associates Ltd</b> is a Civil Engineering Consulting Firm with high precision GNSS data acquisition solutions with capacities for delivering various Civil Engineering Design services, including Flood Vulnerability Studies, Modeling and Design of flood control infrastructures, Building and Civil/Structural engineering, high precision Surveying and mapping.</em></p>
          <div class="card" style="background-color: #6D835C";> 
            <h4
              class="display-8 pt-3 text-light text-decoration-underline text-center"
              >
              <strong><em>Jefcon Blog Post</em></strong>
            </h4>
            <div class="row">
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul  style="display: inline-block;">
                  <a class="lead text-light" href="/case_studies"><em>Case Studies</em></a><br>
                  <a class="lead text-light" href="/construction_law"><em>Construction Law</em></a><br>
                  <a class="lead text-light" href="/construction_technology"><em>Construction Technology</em></a><br>
                  <a class="lead text-light" href="/consultancy_advisory"><em>Consultancy And Advisory Services</em></a><br>
                  <a class="lead text-light" href="/engDesign_simulation"><em>Engineering Design And Simulation</em></a><br>
                  <a class="lead text-light" href="/category_eng_surveys"><em>Engineering Surveys</em></a><br>
                  <a class="lead text-light" href="/cat_environmental"><em>Environmental</em></a><br>
                  <a class="lead text-light" href="/cat_feasibility_Eco"><em>Feasibility And Economic Studies</em></a><br>
                  <a class="lead text-light" href="/industryNews_trend"><em>Industry News And Trends</em></a><br>
                  <a class="lead text-light" href="/innovation_research"><em>Innovation And Research</em></a><br>
                  <a class="lead text-light" href="/mech_elec_Plumbing"><em>Mechanical, Electrical, And Plumbing (MEP)</em></a><br>
                  <a class="lead text-light" href="/pro_superv_cat"><em>Project Supervision And Management</em></a><br>
                  <a class="lead text-light" href="/proj_valuation_cost"><em>Project Valuation And Cost Control</em></a><br>
                  <a class="lead text-light" href="/safety_regulations"><em>Safety And Regulations</em></a><br>
                  <a class="lead text-light" href="/training_education"><em>Training And Education</em></a><br>
                  <a class="lead text-light" href="/uncategorized"><em>Uncategorized</em></a> 
                </ul>
              </div>
              <div class="col-sm-6 mb-sm-0 text-start">
                <ul style="display: inline-block;">
                  <a class="lead text-light" href="/archives_2025_june"><em>June 2025</em></a><br>
                  <a class="lead text-light" href="/archives_2025_april"><em>April 2025</em></a><br>
                  <a class="lead text-light" href="/archives_2024_july"><em>July 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_june"><em>June 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_may"><em>May 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_april"><em>April 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_march"><em>March 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_feb"><em>February 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2024_jan"><em>January 2024</em></a><br>
                  <a class="lead text-light" href="/archives_2023_dec"><em>December 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_nov"><em>November 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_oct"><em>October 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_march"><em>March 2023</em></a><br>
                  <a class="lead text-light" href="/archives_2023_feb"><em>February 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives_2023_jan"><em>January 2023</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_dec"><em>December 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_nov"><em>November 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_oct"><em>October 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_sept"><em>September 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_august"><em>August 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_july"><em>July 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_may"><em>May 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_april"><em>April 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_march"><em>March 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_feb"><em>February 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2022_jan"><em>January 2022</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_dec"><em>December 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_nov"><em>November 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_august"><em>August 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_june"><em>June 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_may"><em>May 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_april"><em>April 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2021_jan"><em>January 2021</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_nov"><em>November 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_oct"><em>October 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_sept"><em>September 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_august"><em>August 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_july"><em>July 2020</em></a> <br> 
                  <a class="lead text-light" href="/archives_2020_may"><em>May 2020</em></a> 
                </ul>
              </div>
            </div>
          </div>
        </div>                
      </div>
    </div> 
    <h4 class="text-light text-center text-decoration-underline pl-3 mt-5"><em>Related Blog Posts Based On Page Title</em></h4>
    <div class="container mt-3">
      <div class="row">
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/preventImg.jpg" alt="preventImg" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/preventing_stormwater"><em>Preventing Stormwater Pollution: Implementing <br> Effective QC For Drainage Systems In Nigeria</em></a></h4>
              <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
              <p class="lead text-light text-center"><em>Preventing Stormwater Pollution: Implementing Effective QC for Drainage Systems in Nigeria Stormwater, the water that runs off impervious surfaces during rainfall, is a critical element in urban environments. While seemingly benign, its journey through our cities can transform it into a potent source of pollution, significantly impacting Nigeria&#8217;s ecosystems and public health. Effective quality control (QC) for drainage [...] <br>
                on Thursday, 2nd Nov. 2023</em></a>
              </p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead text-center"><a class="text-light" href="/construction_technology" rel="category tag"><em>Construction Technology</em></a> <a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/cat_environmental" rel="category tag"><em>Environmental</em></a></p>
            </div>
          </div>
        </div>
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/AviationWork.jpeg" alt="AviationWork" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/understan_geotechnical"><em>Understanding Geotechnical Considerations for Stormwater Drainage QC in Nigeria</em></a></h4>
              <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
              <p class="lead text-light text-center"><em>In civil engineering, the success of stormwater drainage systems depends heavily on geotechnical considerations. The interplay between soil properties and ground conditions directly impacts the quality, durability, and long-term functionality of these systems. In Nigeria with [...]</em> </p>
              <p class="lead text-center text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br>
                on Thursday, 2nd Nov. 2023 </em></a>
              </p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/feasibility_Eco" rel="category tag"><em>Feasibility And Economic Studies</em></a> <a class="text-light" href="/innovation_research" rel="category tag"><em>Innovation And Research</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
            </div>
          </div>
        </div>
        <div class="col align-self-start">
          <div class="card mt-3">
            <img src="images/concrete work.jpeg" alt="concrete work" class="card-img-top">
            <div class="card-body" style="background-color: #6D835C;">
              <h4 class="card-title text-center text-light text-decoration-underline"><a href="/best_pract_stormwater" class="text-light"><em>Best Practices For Concrete Work In Stormwater Drainage: <br> Quality Control for Durability in Nigerian Climates</em></a></h4>
              <p class="lead text-light text-decoration-underline text-center"><em>By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
              <p class="lead text-light text-center"><em>Quality Control for Durability in Nigerian Climates Concrete, forms the backbone of stormwater drainage systems, providing the strength and durability needed to withstand environmental stresses. In Nigeria, where heavy rainfall and fluctuating temperatures often challenge infrastructure, ensuring the quality and longevity of concrete used in stormwater systems.</em></p>
              <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
              <p class="lead text-light text-center"><a class="text-light" href="/consultancy_advisory" rel="category tag"><em>Consultancy And Advisory Services</em></a> <a class="text-light" href="/pro_superv_cat" rel="category tag"><em>Project Supervision And Management</em></a> <a class="text-light" href="/training_education" rel="category tag"><em>Training And Education</em></a></p>
            </div>  
          </div>
        </div>
        <div class="row">
          <div class="col align-self-start">
            <div class="card mt-3">
              <img src="images/challengesimg.jpg" alt="challengesimg" class="card-img-top">
              <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_stormwat_criticalAnal" class="text-light"><em>Challenges of Storm Water Management <br> In Urban Areas of Nigeria: <br> A Critical Analysis</em></a></h4>
                <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                <p class="lead text-center text-light"><em> This paper critically analyzes the various challenges associated with stormwater management in urban areas of Nigeria. It explores the interconnected nature of these challenges, encompassing inadequate infrastructure, rapid population growth, poor urban planning, and lack of financial and institutional capacity.</em></p>
                <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
              </div>
            </div>     
          </div>
          <div class="col align-self-start">
            <div class="card mt-3">
              <img src="images/paaayloooadeer.JPG" alt="paaayloooadeer" class="card-img-top">
              <div class="card-body" style="background-color: #6D835C;">
                <h4 class="card-title text-center text-light text-decoration-underline"><a href="/rel_btw_landUseChange" class="text-light"><em>The Relationship Between Land-use Change <br> And Urban Hydrology</em></a></h4>
                <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                <p class="lead text-center text-light"><em> Defining land-use change and urban hydrology Land-use change refers to the human alteration of landscapes for various purposes, such as urban development, transportation, agriculture, and forestry. Urban hydrology, on the other hand, is the study of water movement, storage, and quality in urban areas, including the impacts...</em> </p>
                <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
              </div>
            </div>
          </div>
          <div class="col align-self-start">
            <div class="card mt-3">
              <img src="images/sewerDrainage.JPG" alt="sewerDrainage" class="card-img-top">
              <div class="card-body text-light" style="background-color: #6D835C;">
                <h4 class="card-title text-center text-light text-decoration-underline"><a class="text-light" href="/ensuringStormwater"><em>Ensuring Stormwater Drainage System Efficiency</em></a></h4>
                <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                <p class="lead text-center text-decoration-underline text-light"><em>Quality Control Measures In Nigerian Construction Projects</em></p>
                <p class="lead text-center text-light"><em>In Nigeria, the increasing frequency of flooding and urban waterlogging underscores the critical need for effective stormwater drainage systems. These systems are essential for managing rainwater runoff, protecting infrastructure, and safeguarding public health. This article delves into the importance of quality control (QC).</em></p>
                <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                <p class="lead text-center text-light"><a class="text-light" href="/safety_regulations" rel="category tag"><em>Safety And Regulations</em></a></p>
              </div>
            </div>       
          </div>
          <div class="container">
            <div class="row">
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="images/projectImage.JPG" alt="projectImage" class="card-img-top">
                  <div class="card-body lead text-center text-light" style="background-color: #6D835C;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/urgent_need_4_sustainable" class="text-light"><em>The Urgent Need For Sustainable Management Engineering Pracices</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-center pl-3 pr-3 text-light"><em>Lecture Presentation To Nigerian Institute Of Civil
                      Engineers (NICE), Asaba Chapter, Delta State, Nigeria <br> on Thursday, 2nd Nov. 2023</em>
                    </p>
                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                  </div>
                </div>     
              </div>
              <div class="col align-self-start">
                <div class="card mt-3">
                  <img src="images/green-roof.png" alt="green-roof" class="card-img-top">
                  <div class="card-body lead text-light text-center" style="background-color: #6D835C;">
                    <h4 class="card-title text-decoration-underline"><a class="text-light" href="/exampl_Sustainable"><em>Examples of Sustainable Stormwater Management Practices In Urban Areas</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-light text-center pr-3 pl-3"><em>Excerpt from, "Lecture Presentation To Nigerian Institute Of Civil <br>
                      Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                      on Thursday, 2nd Nov. 2023</em>
                    </p>
                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                  </div>
                </div>
              </div>
              <div class="col align-self-start">
                <div class="card mb-3 mt-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                  <img src="images/chalposeImg.jpg" alt="chalposeImg" class="card-img-top">
                  <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                    <h4 class="card-title text-center text-light text-decoration-underline"><a href="/chal_posed_by_trad_storm" class="text-light"><em>Challenges Posed By Traditional Storm Water Management Practices</em></a></h4>
                    <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                    <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                      Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                      on Thursday, 2nd Nov. 2023</em>
                    </p>
                    <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                    <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="container">
              <div class="row">
                <div class="col align-self-start">
                  <div class="card mt-3">
                    <img src="images/evaluate.jpeg" alt="evaluate" class="card-img-top">
                    <div class="card-body" style="background-color: #6D835C;">
                      <h4 class="card-title text-center text-light text-decoration-underline"><a href="/eval_succ_effec_exisDrain" class="text-light"><em>Evaluating The Success And Effectiveness Of Existing Drainage Systems For Managing Rainwater Runoff In Nigeria</em></a></h4>
                      <p class="lead text-center text-light"><em> Discover the effectiveness of existing drainage systems in Nigeria for managing rainwater runoff. This article explores the successes, challenges, and areas for improvement in mitigating flooding and ensuring efficient water management in Nigeria.</em></p>
                      <p class="lead text-center text-light"><em>By,</em> <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                      <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                    </div>
                  </div> 
                </div>
                <div class="col align-self-start">
                  <div class="card mt-3">
                    <img src="images/projectImag.JPG" alt="projectImag" class="card-img-top">
                    <div class="card-body" style="background-color: #6D835C;">
                      <h4 class="card-title text-center text-light text-decoration-underline"><a href="/address_nig_wat_Pollution" class="text-light"><em>Addressing Nigeria's Water Pollution Crisis</em></a></h4>
                      <p class="lead text-center text-decoration-underline text-light"><em> By, Engr. John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG) </em></p>
                      <p class="lead text-center text-decoration-underline text-light"><em>Understanding the Environmental Challenge Water Pollution: A Major Crisis in Nigeria</em></p>
                      <p class="lead text-center text-light"> <em>In Nigeria, the most populous country in Africa, is grappling with a severe environmental crisis – water pollution. Despite its wealth of water resources, including rivers, lakes, and underground aquifers, the nation struggles to provide its [...]</em></p>
                      <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                      <p class="lead text-center"><a class="text-light" href="/uncategorized" rel="category tag"><em>Uncategorized</em></a></p>
                    </div>
                  </div> 
                </div>
                <div class="col align-self-start">
                  <div class="card mb-3 mr-3" style="background-color: #6d835c" style="display: flex;">
                    <img src="images/NavigatingImg.jpg" alt="NavigatingImg" class="card-img-top">
                    <div class="card-body" style="background-color: #6D835C; box-sizing: border-box;">
                      <h4 class="card-title text-center text-light text-decoration-underline"><a href="/navigat_risk_flooding" class="text-light"><em>Navigating The Risk Of Floods: Civil Engineering Strategies For Managing Flood-Prone Areas</em></a></h4>
                      <p class="lead text-center text-decoration-underline text-light"><em> By, Engr John Cee Onwualu, JP (FNSE, FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em> </p>
                      <p class="lead text-light text-center"><em>Excerpts from "Lecture Presentation To Nigerian Institute Of Civil
                        Engineers (NICE), Asaba Chapter, Delta State, Nigeria" <br>
                        on Thursday, 2nd Nov. 2023</em>
                      </p>
                      <p class="lead text-center text-light">By, <a class="text-light" href="/deprof_archive"><em>DEPROF</em></a></p>
                      <p class="lead text-center text-light"><a class="text-light" href="/uncategorized" rel="category tag">Uncategorized</a></p>
                    </div>
                  </div>
                </div>
              </div>                                         
            </div>
          </div>
        </div>
      </div>
    </div>                 
  </div>      
</section>
<%- include('partials/footer') %>
