<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <%- include('partials/navbar') %>>
  <div id="previous-next-parent">
    <h3 class="lead pl-4 pb-4">
      <a href="/blogs_page3"> <i> ↞ </i><em> Older Post</em></a>
    </h3>
    <h3 class="lead pl-4 pr-4 pb-4">
      <a href="/blogs"><em>Newer Post</em><i> ↠ </i></a>
    </h3>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/trawlerImg.jpeg" alt="trawlerImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="first" checked />
                  <label for="first" class="lead text-light"
                    ><a
                      href="/rel_btw_landUseChange"
                      class="lead text-light text-center"
                    >
                      <strong
                        ><em
                          >The Relationship Between Land-use <br />Change And
                          Urban Hydrology</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-light text-decoration-underline pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)
                      </em>
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_nov"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 1 November 2023 - 2:58 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Defining land-use change and urban hydrology Land-use
                        change refers to the human alteration of landscapes for
                        various purposes, such as urban development,
                        transportation, agriculture, and forestry. <br />
                        Urban hydrology, on the other hand, is the study of
                        water movement, storage, and quality in urban areas,
                        including the impacts [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/ExcerptsImg.jpg" alt="ExcerptsImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="second" />
                  <label for="second" class="lead text-light"
                    ><a href="/impact_land_use" class="lead text-light">
                      <strong
                        ><em
                          >Impacts Of Land-use Change On Urban Hydrology <br />
                          And The Need For Sustainable Storm Water <br />
                          Management Engineering Practices
                        </em>
                      </strong>
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_oct"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 8 October 2023 - 10:02 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em>
                        An excerpt from "Impacts of land-use Change on Urban
                        Hydrology and the need for sustainable Storm <br />
                        Water Management Engineering Practices"</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/team2.JPG" alt="team2" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="third" />
                  <label for="third" class="lead text-light"
                    ><a href="/imp_commu_engagement" class="lead text-light">
                      <strong
                        ><em
                          >The Importance Of Community Engagement <br />
                          And Education In Sustainable Water Management</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_march"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 7 March 2023 - 9:26 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        Lecture Presentation To Nigerian Institute Of Civil
                        Engineers (NICE), Asaba Chapter, Delta State, Nigeria On
                        Thursday, 2nd Nov, 2023</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/RisingTidesImg.jpg" alt="RisingTidesImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fourth" />
                  <label for="fourth" class="lead text-light"
                    ><a
                      href="/risingTides_sinkinCities"
                      class="lead text-light"
                    >
                      <strong>
                        <em
                          >Rising Tides, Sinking Cities: <br />
                          How Climate Change Is Driving <br />
                          More Extreme Flooding</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)
                      </em>
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_feb"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 25 February 2023 - 5:37 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        Climate change continues to threaten our planet, with
                        the most immediate threat being extreme flooding. Rising
                        tides and sinking cities have become a stark reality
                        with devastating consequences for many communities
                        around the world. It's a global problem that requires
                        immediate attention and action from governments,
                        businesses, and individuals. [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/NavigatingImg.jpg" alt="NavigatingImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fifth" />
                  <label for="fifth" class="lead text-light"
                    ><a href="/navigat_risk_flooding" class="lead text-light">
                      <strong
                        ><em
                          >Navigating The Risk Of Floods: <br />Civil
                          Engineering Strategies For <br />
                          Managing Flood-Prone Areas</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_jan"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 30 January 2023 - 8:30 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        "A wise man adapts himself to circumstances, as water
                        shapes itself to the vessel that contains it." <br />
                        - Chinese Proverb. <br />
                        Flooding is a major concern in many areas, causing
                        damage and destruction to homes, businesses, and
                        communities. In addition to the physical damage, floods
                        can lead to significant economic [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/AccessingQualImg.jpg" alt="AccessingQualImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="sixth" />
                  <label for="sixth" class="lead text-light"
                    ><a href="/accessin_qual_engPract" class="lead text-light">
                      <strong
                        ><em
                          >Assessing Quality Civil Engineering <br />
                          Practices In Nigeria</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2022_dec"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 December 2022 - 7:21 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3">
                      <em>
                        The quality of Civil Engineering practices in Nigeria
                        has become an increasingly important priority in recent
                        years. As the country continues to grow and change, it
                        is important that these practice s meet the standards of
                        a modern, wealthy country. Assessing the quality of
                        Civil Engineering practices in Nigera is [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/8factsImg.jpg" alt="8factsImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="seventh" />
                  <label for="seventh" class="lead text-light"
                    ><a href="/eightfacts_about_storm" class="lead text-light">
                      <strong
                        ><em
                          >8 Important Facts About StormWater <br />
                          Drainage Systems</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2022_nov"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 30 November 2022 - 4:12 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        "Storm-water drainage systems are essential to our
                        health and safety - they help protect us from flooding
                        and prevent water pollution, making them an important
                        part of our infrastructure."
                      </em>
                    </p>
                    <p class="lead text-light pr-3">
                      <em
                        >What is Storm-water Drainage system? <br />
                        A Storm-water drainage system is an infrastructure
                        constructed to receive and [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/FloodingImg.jpg" alt="FloodingImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="eighth" />
                  <label for="eighth" class="lead text-light"
                    ><a href="/seven_ways_handle_flood" class="lead text-light">
                      <strong
                        ><em
                          >7 Ways To Handle Flooding In Any Parts Of Nigeria</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)
                      </em>
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2022_oct"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 30 October 2022 - 3:04 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        Flooding is a very serious issue in Nigeria, as it can
                        lead to significant damages to property and even loss of
                        life. Floods can occur due to heavy seasonal rains or
                        from overflowing bodies of water such as rivers and
                        oceans. Flooding can be a major problem for those
                        [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/7teamImg.jpeg" alt="7teamImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="ninth" />
                  <label for="ninth" class="lead text-light"
                    ><a href="/seven_things_toKnow" class="lead text-light">
                      <strong
                        >7 Things You Need To Know Before Hiring <br />
                        A STORMWATER CONSTRUCTION COMPANY</strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)
                      </em>
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2022_sept"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 September 2022 - 1:43 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pr-3 pt-3">
                      <em>
                        When it comes to stormwater drainage construction, it is
                        important to hire a reputable and experienced company.
                        The process is complex and requires a number of steps to
                        ensure the job is done correctly and efficiently. If you
                        are considering hiring a stormwater drainage
                        construction company, there are a [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/MeritsImg.jpg" alt="MeritsImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="tenth" />
                  <label for="tenth" class="lead text-light"
                    ><a href="/merits_recomend_options" class="lead text-light">
                      <strong
                        ><em
                          >Merits Of The Recommended Options For <br />
                          Storm Water Management And Control</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu JP., <br />
                        Jefcon &amp; Associates Ltd-Engineering Consultants
                      </em>
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2022_august"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 24 August 2022 - 1:06 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3">
                      <em
                        >Excerpts from Presentation at Nigerian Society of
                        Engineers, Asaba Chapter Technical Section of Study
                        <br />
                        &amp; Design of Stormwater Management And Control.</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="previous-next-parent">
      <h3 class="lead pl-3" style="margin-right: auto">
        <a href="/blogs_page3"> <i> ↞ </i><em> Older Post</em></a>
      </h3>
      <h3 class="lead pr-3" style="margin-left: auto">
        <a href="/blogs"><em>Newer Post</em><i> ↠ </i></a>
      </h3>
    </div>
  </div>
  <script>
    const acc = document.getElementsByClassName("accordion");
    let i;
    for (i = 0; i < acc.length; i++) {
      acc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        const panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
</section>
<%- include('partials/footer') %>
