<%- include('partials/Head') %>
<body
  section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
/>
<%- include('partials/navbar') %>
<section
  class="featurette bg-primary"
  style="
    background: url('https://jefconassociates.com/wp-content/themes/jefcon-pentagon/assets/images2/dark-green-background.jpg')
      no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
  "
>
  <div id="previous-next-parent" style="margin-right: auto">
    <h3 class="lead pl-4 pb-3">
      <a href="/blogs_page2"> <i> ↞ </i><em> Older Post</em></a>
    </h3>
  </div>
  <div class="container-fluid">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/preventImg.jpg" alt="preventImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="first" checked />
                  <label for="first" class="lead text-light"
                    ><a href="/preventing_stormwater" class="lead text-light">
                      <strong
                        ><em
                          >Preventing Stormwater Pollution: Implementing <br />
                          Effective QC For Drainage Systems In Nigeria</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2025_june"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 June 2025 - 1:17 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em>
                        Preventing Stormwater Pollution: Implementing Effective
                        QC for Drainage Systems in Nigeria Stormwater, the water
                        that runs off impervious surfaces during rainfall, is a
                        critical element in urban environments. While seemingly
                        benign, its journey through our cities can transform it
                        into a potent source of pollution, significantly
                        impacting Nigeria&#8217;s ecosystems and public health.
                        Effective quality control (QC) for drainage [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/AviationWork.jpeg" alt="AviationWork" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="second" />
                  <label for="second" class="lead text-light"
                    ><a href="/understan_geotechnical" class="lead text-light">
                      <strong
                        ><em
                          >Understanding Geotechnical Considerations For
                          Stormwater Drainage QC In Nigeria</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-decoration-underline text-light pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE., COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2025_april"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 12 April 2025 - 9:19 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em>
                        In civil engineering, the success of stormwater drainage
                        systems depends heavily on geotechnical considerations.
                        The interplay between soil properties and ground
                        conditions directly impacts the quality, durability, and
                        long-term functionality of these systems. In Nigeria,
                        with [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/concrete work.jpeg" alt="concrete work" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="third" />
                  <label for="third" class="lead text-light"
                    ><a href="/best_pract_stormwater" class="lead text-light">
                      <strong
                        ><em
                          >Best Practices For Concrete Work In Stormwater
                          Drainage: Quality Control For Durability <br />
                          In Nigerian Climates</em
                        ></strong
                      >
                    </a>
                    <p class="lead text-decoration-underline text-light pr-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_july"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 July 2024 - 12:59 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em>
                        Quality Control for Durability in Nigerian Climates
                        Concrete forms the backbone of stormwater drainage
                        systems, providing the strength and durability needed to
                        withstand environmental stresses. In Nigeria, where
                        heavy rainfall and fluctuating temperatures often
                        challenge infrastructure, ensuring the quality and
                        longevity of concrete used in stormwater systems
                        [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/blogImg.jpg" alt="blogImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fourth" />
                  <label for="fourth" class="lead text-light"
                    ><a href="/ensuringStormwater" class="lead text-light">
                      <strong>
                        <em
                          >Ensuring Stormwater Drainage System Efficiency:
                          Quality Control Measures In Construction <br />
                          Projects In Nigeria.</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-light text-decoration-underline pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)
                      </em>
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_june"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 23 June 2024 - 10:20 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Ensuring Stormwater Drainage System Efficiency: Quality
                        Control Measures in Nigerian Construction Projects In
                        Nigeria, the increasing frequency of flooding and urban
                        waterlogging underscores the critical need for effective
                        stormwater drainage systems. These systems are essential
                        for managing rainwater runoff, protecting
                        infrastructure, and safeguarding public health. This
                        article delves into the importance of quality control
                        (QC) [...]</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/challengesimg.jpg" alt="challengesimg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="fifth" />
                  <label for="fifth" class="lead text-light"
                    ><a
                      href="/chal_stormwat_criticalAnal"
                      class="lead text-light"
                    >
                      <strong
                        ><em
                          >Challenges Of Storm Water Management <br />
                          In Urban Areas Of Nigeria: A Critical Analysis</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_may"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 29 May 2024 - 10:51 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >This paper critically analyzes the various challenges
                        associated with stormwater management in urban areas of
                        Nigeria. It explores the interconnected nature of these
                        challenges, encompassing inadequate infrastructure,
                        rapid population growth, poor urban planning, and a lack
                        of financial and institutional capacity.</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/evaluate.jpeg" alt="evaluate" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="sixth" />
                  <label for="sixth" class="lead text-light"
                    ><a
                      href="/eval_succ_effec_exisDrain"
                      class="lead text-light"
                    >
                      <strong
                        ><em
                          >Evaluating The Success And Effectiveness Of <br />
                          Existing Drainage Systems For Managing <br />
                          Rainwater Runoff In Nigeria</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_april"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 15 April 2024 - 11:47 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Discover the effectiveness of existing drainage systems
                        in Nigeria for managing rainwater runoff. This article
                        explores the successes, challenges, and areas for
                        improvement in mitigating flooding and ensuring
                        efficient water management in Nigeria.</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/addressPollutImg.jpg" alt="addressPollutImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="seventh" />
                  <label for="seventh" class="lead text-light"
                    ><a
                      href="/address_nig_wat_Pollution"
                      class="lead text-light"
                    >
                      <strong
                        ><em
                          >Addressing Nigeria's Water Pollution Crisis: <br />
                          The Role Of Stormwater Management</em
                        >
                      </strong>
                    </a>
                    <p class="lead text-light text-decoration-underline pt-2">
                      <em
                        >By, Engr. John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG. MASCE, COREN)</em
                      >
                    </p></label
                  >
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_march"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 19 March 2024 - 10:41 pm<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Understanding the Environmental Challenge Water
                        Pollution: A Major Crisis in Nigeria Nigeria, the most
                        populous country in Africa, is grappling with a severe
                        environmental crisis – water pollution. <br />
                        Despite its wealth of water resources, including rivers,
                        lakes, and underground aquifers, the nation struggles to
                        provide its [...]
                      </em>
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/sewaarImg.jpg" alt="sewaarImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="eighth" />
                  <label for="eighth" class="lead text-light"
                    ><a
                      href="/urgent_need_4_sustainable"
                      class="lead text-light"
                    >
                      <strong
                        ><em
                          >The Urgent Need For Sustainable Stormwater <br />
                          Management Engineering Practices</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_feb"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 7 February 2024 - 2:43 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Lecture Presentation To Nigerian Institute Of Civil
                        Engineers (NICE), Asaba Chapter, Delta State, <br />
                        Nigeria on Thursday, 2nd Nov. 2023</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/beautifulHome.png" alt="beautifulHome" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="ninth" />
                  <label for="ninth" class="lead text-light"
                    ><a href="/exampl_Sustainable" class="lead text-light">
                      <strong
                        ><em
                          >Examples Of Sustainable Storm Water <br />
                          Management Practices In Urban Areas</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2024_jan"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 4 January 2024 - 1:16 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Excerpt From, Lecture Presentation To Nigerian
                        Institute Of Civil Engineers (NICE), Asaba Chapter,
                        Delta State, Nigeria on Thursday, 2nd Nov. 2023</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-0">
          <div class="card mt-3" style="background-color: #6d835c">
            <img src="images/chalposeImg.jpg" alt="chalposeImg" />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card mt-3" style="background-color: #6d835c">
            <div class="card-body text-center">
              <ul class="accordion">
                <li>
                  <input type="radio" name="accordion" id="tenth" />
                  <label for="tenth" class="lead text-light"
                    ><a
                      href="/chal_posed_by_trad_storm"
                      class="lead text-light"
                    >
                      <strong
                        ><em
                          >Challenges Posed By Traditional Stormwater <br />
                          Management Practices</em
                        ></strong
                      >
                    </a>
                    <p
                      class="text-center text-decoration-underline lead text-light"
                    >
                      <em
                        >By, Engr John Cee Onwualu, JP (FNSE, <br />
                        FNICE, FNIWE, P.E., R.ENG, MASCE, COREN)</em
                      >
                    </p>
                  </label>
                  <div class="content">
                    <span style="display: flex; align-content: flex-start"
                      ><a
                        href="/archives_2023_dec"
                        class="btn btn-success text-light"
                        style="border-color: #fff; background-color: #6d835c"
                      >
                        Posted on 20 December 2023 - 5:57 am<a
                          class="btn btn-success text-light"
                          href="/deprof_archive"
                          style="
                            text-decoration: none;
                            background-color: #6d835c;
                            border-color: #fff;
                          "
                          ><em>By, DEPROF</em></a
                        ></a
                      >
                    </span>
                    <p class="lead text-light pt-3 pr-3">
                      <em
                        >Excerpt From A Lecture Presentation To Nigerian
                        Institute Of Civil Engineers (NICE), Asaba Chapter,
                        Delta State, Nigeria on Thursday, 2nd Nov. 2023</em
                      >
                    </p>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="previous-next-parent">
      <h3 class="lead pl-3" style="margin-right: auto">
        <a href="/blogs_page2"> <i> ↞ </i><em> Older Post</em></a>
      </h3>
    </div>
  </div>
  <script>
    const acc = document.getElementsByClassName("accordion");
    let i;
    for (i = 0; i < acc.length; i++) {
      cc[i].addEventListener("click", function () {
        this.classList.toggle("active");
        const panel = this.nextElementSibling;
        if (panel.style.display === "block") {
          panel.style.display = "none";
        } else {
          panel.style.display = "block";
        }
      });
    }
  </script>
</section>
<%- include('partials/footer') %>
